Frontend WebApp/web/WEB-INF/wsdl/localhost_8081/Stackexchange_WS/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://AnswerModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://AnswerModel/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="addAnswer" type="tns:addAnswer"/>

<xs:element name="addAnswerResponse" type="tns:addAnswerResponse"/>

<xs:element name="getAnswerByQId" type="tns:getAnswerByQId"/>

<xs:element name="getAnswerByQIdResponse" type="tns:getAnswerByQIdResponse"/>

<xs:element name="getCountAnswerByQId" type="tns:getCountAnswerByQId"/>

<xs:element name="getCountAnswerByQIdResponse" type="tns:getCountAnswerByQIdResponse"/>

<xs:element name="voteAnswer" type="tns:voteAnswer"/>

<xs:element name="voteAnswerResponse" type="tns:voteAnswerResponse"/>

<xs:complexType name="getCountAnswerByQId">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountAnswerByQIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswer">
<xs:sequence>
<xs:element name="aid" type="xs:int"/>
<xs:element name="vote" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQId">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQIdResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="id_answer" type="xs:int"/>
<xs:element name="id_question" type="xs:int"/>
<xs:element name="id_user" type="xs:int"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="voteNum" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAnswer">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAnswerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>