StackExchange Client/src/conf/xml-resources/web-service-references/AnswerWS/wsdl/localhost_8080/StackExchange_WS2/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://stackexchangews/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://stackexchangews/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="getAnswerByQID" type="tns:getAnswerByQID"/>

<xs:element name="getAnswerByQIDResponse" type="tns:getAnswerByQIDResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQID">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQIDResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_question" type="xs:int"/>
<xs:element name="id_user" type="xs:int"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="timepost" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>