StackExchangeClient/src/conf/xml-resources/web-service-references/QuestionsWS/wsdl/localhost_8081/StackExchangeWS/QuestionsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Question/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Question/" name="QuestionsWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Question/" schemaLocation="http://localhost:8081/StackExchangeWS/QuestionsWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getquestionvote">
<part name="parameters" element="tns:getquestionvote"/>
</message>
<message name="getquestionvoteResponse">
<part name="parameters" element="tns:getquestionvoteResponse"/>
</message>
<message name="getAllQuestions">
<part name="parameters" element="tns:getAllQuestions"/>
</message>
<message name="getAllQuestionsResponse">
<part name="parameters" element="tns:getAllQuestionsResponse"/>
</message>
<message name="searchQuestions">
<part name="parameters" element="tns:searchQuestions"/>
</message>
<message name="searchQuestionsResponse">
<part name="parameters" element="tns:searchQuestionsResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"/>
</message>
<message name="getQuestionById">
<part name="parameters" element="tns:getQuestionById"/>
</message>
<message name="getQuestionByIdResponse">
<part name="parameters" element="tns:getQuestionByIdResponse"/>
</message>
<message name="votequestion">
<part name="parameters" element="tns:votequestion"/>
</message>
<message name="votequestionResponse">
<part name="parameters" element="tns:votequestionResponse"/>
</message>
<message name="createQuestion">
<part name="parameters" element="tns:createQuestion"/>
</message>
<message name="createQuestionResponse">
<part name="parameters" element="tns:createQuestionResponse"/>
</message>
<portType name="QuestionsWS">
<operation name="getquestionvote">
<input wsam:Action="http://Question/QuestionsWS/getquestionvoteRequest" message="tns:getquestionvote"/>
<output wsam:Action="http://Question/QuestionsWS/getquestionvoteResponse" message="tns:getquestionvoteResponse"/>
</operation>
<operation name="getAllQuestions">
<input wsam:Action="http://Question/QuestionsWS/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://Question/QuestionsWS/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
</operation>
<operation name="searchQuestions">
<input wsam:Action="http://Question/QuestionsWS/searchQuestionsRequest" message="tns:searchQuestions"/>
<output wsam:Action="http://Question/QuestionsWS/searchQuestionsResponse" message="tns:searchQuestionsResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://Question/QuestionsWS/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://Question/QuestionsWS/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://Question/QuestionsWS/updateQuestionRequest" message="tns:updateQuestion"/>
<output wsam:Action="http://Question/QuestionsWS/updateQuestionResponse" message="tns:updateQuestionResponse"/>
</operation>
<operation name="getQuestionById">
<input wsam:Action="http://Question/QuestionsWS/getQuestionByIdRequest" message="tns:getQuestionById"/>
<output wsam:Action="http://Question/QuestionsWS/getQuestionByIdResponse" message="tns:getQuestionByIdResponse"/>
</operation>
<operation name="votequestion">
<input wsam:Action="http://Question/QuestionsWS/votequestionRequest" message="tns:votequestion"/>
<output wsam:Action="http://Question/QuestionsWS/votequestionResponse" message="tns:votequestionResponse"/>
</operation>
<operation name="createQuestion">
<input wsam:Action="http://Question/QuestionsWS/createQuestionRequest" message="tns:createQuestion"/>
<output wsam:Action="http://Question/QuestionsWS/createQuestionResponse" message="tns:createQuestionResponse"/>
</operation>
</portType>
<binding name="QuestionsWSPortBinding" type="tns:QuestionsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getquestionvote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="votequestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionsWS">
<port name="QuestionsWSPort" binding="tns:QuestionsWSPortBinding">
<soap:address location="http://localhost:8081/StackExchangeWS/QuestionsWS"/>
</port>
</service>
</definitions>