StackExchangeFE/web/WEB-INF/wsdl/localhost_8082/StackExchangeWS/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://AnswerModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://AnswerModel/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="getAVoteByAID" type="tns:getAVoteByAID"/>

<xs:element name="getAVoteByAIDResponse" type="tns:getAVoteByAIDResponse"/>

<xs:element name="getAnswerByQID" type="tns:getAnswerByQID"/>

<xs:element name="getAnswerByQIDResponse" type="tns:getAnswerByQIDResponse"/>

<xs:element name="getUserID" type="tns:getUserID"/>

<xs:element name="getUserIDResponse" type="tns:getUserIDResponse"/>

<xs:element name="insertAnswer" type="tns:insertAnswer"/>

<xs:element name="insertAnswerResponse" type="tns:insertAnswerResponse"/>

<xs:element name="voteAnswer" type="tns:voteAnswer"/>

<xs:element name="voteAnswerResponse" type="tns:voteAnswerResponse"/>

<xs:complexType name="insertAnswer">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="qid" type="xs:int"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAnswerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswer">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="a_id" type="xs:int"/>
<xs:element name="value" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAVoteByAID">
<xs:sequence>
<xs:element name="a_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAVoteByAIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQID">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQIDResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="a_id" type="xs:int"/>
<xs:element name="q_id" type="xs:int"/>
<xs:element name="a_vote" type="xs:int"/>
<xs:element name="u_id" type="xs:int"/>
<xs:element name="a_content" type="xs:string"/>
<xs:element name="a_date" type="xs:string"/>
<xs:element name="u_name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserID">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>