StackExchangeFE/web/WEB-INF/wsdl/localhost_8082/StackExchangeWS/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AnswerModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AnswerModel/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AnswerModel/" schemaLocation="http://localhost:8082/StackExchangeWS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserID">
<part name="parameters" element="tns:getUserID"/>
</message>
<message name="getUserIDResponse">
<part name="parameters" element="tns:getUserIDResponse"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswerResponse">
<part name="parameters" element="tns:voteAnswerResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="getAnswerByQID">
<part name="parameters" element="tns:getAnswerByQID"/>
</message>
<message name="getAnswerByQIDResponse">
<part name="parameters" element="tns:getAnswerByQIDResponse"/>
</message>
<message name="insertAnswer">
<part name="parameters" element="tns:insertAnswer"/>
</message>
<message name="insertAnswerResponse">
<part name="parameters" element="tns:insertAnswerResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getAVoteByAID">
<part name="parameters" element="tns:getAVoteByAID"/>
</message>
<message name="getAVoteByAIDResponse">
<part name="parameters" element="tns:getAVoteByAIDResponse"/>
</message>
<portType name="AnswerWS">
<operation name="getUserID">
<input wsam:Action="http://AnswerModel/AnswerWS/getUserIDRequest" message="tns:getUserID"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getUserIDResponse" message="tns:getUserIDResponse"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/voteAnswerRequest" message="tns:voteAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/voteAnswerResponse" message="tns:voteAnswerResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://AnswerModel/AnswerWS/voteAnswer/Fault/ParseException"/>
</operation>
<operation name="getAnswerByQID">
<input wsam:Action="http://AnswerModel/AnswerWS/getAnswerByQIDRequest" message="tns:getAnswerByQID"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getAnswerByQIDResponse" message="tns:getAnswerByQIDResponse"/>
</operation>
<operation name="insertAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/insertAnswerRequest" message="tns:insertAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/insertAnswerResponse" message="tns:insertAnswerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://AnswerModel/AnswerWS/insertAnswer/Fault/Exception"/>
</operation>
<operation name="getAVoteByAID">
<input wsam:Action="http://AnswerModel/AnswerWS/getAVoteByAIDRequest" message="tns:getAVoteByAID"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getAVoteByAIDResponse" message="tns:getAVoteByAIDResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getAnswerByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAVoteByAID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8082/StackExchangeWS/AnswerWS"/>
</port>
</service>
</definitions>