StackExchange-Client/src/conf/xml-resources/web-service-references/AnswerWS/wsdl/localhost_8081/StackExchange-WebService/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.stackexchange/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.stackexchange/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="addAnswer" type="tns:addAnswer"/>

<xs:element name="deleteAnswer" type="tns:deleteAnswer"/>

<xs:element name="getAnswers" type="tns:getAnswers"/>

<xs:element name="getAnswersResponse" type="tns:getAnswersResponse"/>

<xs:element name="getAnswers_1" type="tns:getAnswers_1"/>

<xs:element name="getAnswers_1Response" type="tns:getAnswers_1Response"/>

<xs:element name="updateAnswer" type="tns:updateAnswer"/>

<xs:element name="voteAnswer" type="tns:voteAnswer"/>

<xs:element name="voteAnswer_1" type="tns:voteAnswer_1"/>

<xs:complexType name="addAnswer">
<xs:sequence>
<xs:element name="answer" type="tns:answer" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="userid" type="xs:int"/>
<xs:element name="questionId" type="xs:int"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="dateMade" type="tns:timestamp"/>
<xs:element name="errorMessage" type="xs:string"/>
<xs:element name="vote" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAnswer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="questionId" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAnswer">
<xs:sequence>
<xs:element name="answer" type="tns:answer" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswer">
<xs:sequence>
<xs:element name="answer" type="tns:answer" minOccurs="0"/>
<xs:element name="inc" type="xs:boolean"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswer_1">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="questionId" type="xs:int"/>
<xs:element name="inc" type="xs:boolean"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswers_1">
<xs:sequence>
<xs:element name="questionId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswers_1Response">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAnswersResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>