StackExchangeClient/src/conf/xml-resources/web-service-references/AnswersWS/wsdl/localhost_38575/StackExchangeWS/AnswersWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Answer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Answer/" name="AnswersWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Answer/" schemaLocation="http://localhost:38575/StackExchangeWS/AnswersWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAnswersByQid">
<part name="parameters" element="tns:getAnswersByQid"/>
</message>
<message name="getAnswersByQidResponse">
<part name="parameters" element="tns:getAnswersByQidResponse"/>
</message>
<message name="insertAnswer">
<part name="parameters" element="tns:insertAnswer"/>
</message>
<message name="insertAnswerResponse">
<part name="parameters" element="tns:insertAnswerResponse"/>
</message>
<message name="getanswervote">
<part name="parameters" element="tns:getanswervote"/>
</message>
<message name="getanswervoteResponse">
<part name="parameters" element="tns:getanswervoteResponse"/>
</message>
<message name="voteanswers">
<part name="parameters" element="tns:voteanswers"/>
</message>
<message name="voteanswersResponse">
<part name="parameters" element="tns:voteanswersResponse"/>
</message>
<portType name="AnswersWS">
<operation name="getAnswersByQid">
<input wsam:Action="http://Answer/AnswersWS/getAnswersByQidRequest" message="tns:getAnswersByQid"/>
<output wsam:Action="http://Answer/AnswersWS/getAnswersByQidResponse" message="tns:getAnswersByQidResponse"/>
</operation>
<operation name="insertAnswer">
<input wsam:Action="http://Answer/AnswersWS/insertAnswerRequest" message="tns:insertAnswer"/>
<output wsam:Action="http://Answer/AnswersWS/insertAnswerResponse" message="tns:insertAnswerResponse"/>
</operation>
<operation name="getanswervote">
<input wsam:Action="http://Answer/AnswersWS/getanswervoteRequest" message="tns:getanswervote"/>
<output wsam:Action="http://Answer/AnswersWS/getanswervoteResponse" message="tns:getanswervoteResponse"/>
</operation>
<operation name="voteanswers">
<input wsam:Action="http://Answer/AnswersWS/voteanswersRequest" message="tns:voteanswers"/>
<output wsam:Action="http://Answer/AnswersWS/voteanswersResponse" message="tns:voteanswersResponse"/>
</operation>
</portType>
<binding name="AnswersWSPortBinding" type="tns:AnswersWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAnswersByQid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getanswervote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteanswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswersWS">
<port name="AnswersWSPort" binding="tns:AnswersWSPortBinding">
<soap:address location="http://localhost:38575/StackExchangeWS/AnswersWS"/>
</port>
</service>
</definitions>