Stack Exchange Client/web/WEB-INF/wsdl/localhost_8081/Stack_Exchange_WS/QuestionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://question_package.dazzlesquad.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://question_package.dazzlesquad.com/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="Question" type="tns:question"/>

<xs:element name="countAnswer" type="tns:countAnswer"/>

<xs:element name="countAnswerResponse" type="tns:countAnswerResponse"/>

<xs:element name="deleteQuestion" type="tns:deleteQuestion"/>

<xs:element name="deleteQuestionResponse" type="tns:deleteQuestionResponse"/>

<xs:element name="editQuestion" type="tns:editQuestion"/>

<xs:element name="editQuestionResponse" type="tns:editQuestionResponse"/>

<xs:element name="getAnswerByQuestionId" type="tns:getAnswerByQuestionId"/>

<xs:element name="getAnswerByQuestionIdResponse" type="tns:getAnswerByQuestionIdResponse"/>

<xs:element name="getQuestionById" type="tns:getQuestionById"/>

<xs:element name="getQuestionByIdResponse" type="tns:getQuestionByIdResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertQuestion" type="tns:insertQuestion"/>

<xs:element name="insertQuestionResponse" type="tns:insertQuestionResponse"/>

<xs:element name="showAllQuestion" type="tns:showAllQuestion"/>

<xs:element name="showAllQuestionResponse" type="tns:showAllQuestionResponse"/>

<xs:complexType name="getQuestionById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionByIdResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="user_id" type="xs:int"/>
<xs:element name="topic" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="vote" type="xs:int"/>
<xs:element name="date" type="xs:string"/>
<xs:element name="countAnswer" type="xs:int"/>
<xs:element name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQuestionId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQuestionIdResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="question_id" type="xs:int"/>
<xs:element name="user_id" type="xs:int"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="vote" type="xs:int"/>
<xs:element name="date" type="xs:string"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="answerUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestionResponse">
<xs:sequence>
<xs:element name="Success" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertQuestion">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertQuestionResponse">
<xs:sequence>
<xs:element name="Question" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countAnswer">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countAnswerResponse">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showAllQuestion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showAllQuestionResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editQuestion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editQuestionResponse">
<xs:sequence>
<xs:element name="NewQuestion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>