SimpleStackExchange_Client/src/conf/xml-resources/web-service-references/User_WS/wsdl/localhost_8081/SimpleStackExchange_Webservice/User_WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="checkEmailUser" type="tns:checkEmailUser"/>

<xs:element name="checkEmailUserResponse" type="tns:checkEmailUserResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="getNameByUid" type="tns:getNameByUid"/>

<xs:element name="getNameByUidResponse" type="tns:getNameByUidResponse"/>

<xs:element name="getUserById" type="tns:getUserById"/>

<xs:element name="getUserByIdResponse" type="tns:getUserByIdResponse"/>

<xs:element name="registereduser" type="tns:registereduser"/>

<xs:complexType name="getUserById">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:registereduser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registereduser">
<xs:sequence>
<xs:element name="createdtime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="uid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkEmailUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkEmailUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="user" type="tns:registereduser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNameByUid">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNameByUidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>