StackExchange_Client/src/conf/xml-resources/web-service-references/AnswerWS/wsdl/localhost_8081/StackExchange_WS/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://answer.model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://answer.model/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://answer.model/" schemaLocation="http://localhost:8081/StackExchange_WS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAnswersByQID">
<part name="parameters" element="tns:getAnswersByQID"/>
</message>
<message name="getAnswersByQIDResponse">
<part name="parameters" element="tns:getAnswersByQIDResponse"/>
</message>
<message name="getAnswerByID">
<part name="parameters" element="tns:getAnswerByID"/>
</message>
<message name="getAnswerByIDResponse">
<part name="parameters" element="tns:getAnswerByIDResponse"/>
</message>
<message name="getAnswerCount">
<part name="parameters" element="tns:getAnswerCount"/>
</message>
<message name="getAnswerCountResponse">
<part name="parameters" element="tns:getAnswerCountResponse"/>
</message>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"/>
</message>
<message name="addAnswerResponse">
<part name="parameters" element="tns:addAnswerResponse"/>
</message>
<portType name="AnswerWS">
<operation name="getAnswersByQID">
<input wsam:Action="http://answer.model/AnswerWS/getAnswersByQIDRequest" message="tns:getAnswersByQID"/>
<output wsam:Action="http://answer.model/AnswerWS/getAnswersByQIDResponse" message="tns:getAnswersByQIDResponse"/>
</operation>
<operation name="getAnswerByID">
<input wsam:Action="http://answer.model/AnswerWS/getAnswerByIDRequest" message="tns:getAnswerByID"/>
<output wsam:Action="http://answer.model/AnswerWS/getAnswerByIDResponse" message="tns:getAnswerByIDResponse"/>
</operation>
<operation name="getAnswerCount">
<input wsam:Action="http://answer.model/AnswerWS/getAnswerCountRequest" message="tns:getAnswerCount"/>
<output wsam:Action="http://answer.model/AnswerWS/getAnswerCountResponse" message="tns:getAnswerCountResponse"/>
</operation>
<operation name="addAnswer">
<input wsam:Action="http://answer.model/AnswerWS/addAnswerRequest" message="tns:addAnswer"/>
<output wsam:Action="http://answer.model/AnswerWS/addAnswerResponse" message="tns:addAnswerResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAnswersByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8081/StackExchange_WS/AnswerWS"/>
</port>
</service>
</definitions>