StackExchange Client/src/conf/xml-resources/web-service-references/Operation/wsdl/localhost_8080/Operation/Operation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stackexchangews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://stackexchangews/" name="Operation">
<types>
<xsd:schema>
<xsd:import namespace="http://stackexchangews/" schemaLocation="http://localhost:8080/Operation/Operation?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="editQ">
<part name="parameters" element="tns:editQ"/>
</message>
<message name="editQResponse">
<part name="parameters" element="tns:editQResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="UnsupportedEncodingException">
<part name="fault" element="tns:UnsupportedEncodingException"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="deleteQ">
<part name="parameters" element="tns:deleteQ"/>
</message>
<message name="deleteQResponse">
<part name="parameters" element="tns:deleteQResponse"/>
</message>
<message name="vote">
<part name="parameters" element="tns:vote"/>
</message>
<message name="voteResponse">
<part name="parameters" element="tns:voteResponse"/>
</message>
<message name="canVote">
<part name="parameters" element="tns:canVote"/>
</message>
<message name="canVoteResponse">
<part name="parameters" element="tns:canVoteResponse"/>
</message>
<message name="deleteA">
<part name="parameters" element="tns:deleteA"/>
</message>
<message name="deleteAResponse">
<part name="parameters" element="tns:deleteAResponse"/>
</message>
<message name="Auth">
<part name="parameters" element="tns:Auth"/>
</message>
<message name="AuthResponse">
<part name="parameters" element="tns:AuthResponse"/>
</message>
<message name="createQuestion">
<part name="parameters" element="tns:createQuestion"/>
</message>
<message name="createQuestionResponse">
<part name="parameters" element="tns:createQuestionResponse"/>
</message>
<message name="countAnswer">
<part name="parameters" element="tns:countAnswer"/>
</message>
<message name="countAnswerResponse">
<part name="parameters" element="tns:countAnswerResponse"/>
</message>
<message name="getUserbyID">
<part name="parameters" element="tns:getUserbyID"/>
</message>
<message name="getUserbyIDResponse">
<part name="parameters" element="tns:getUserbyIDResponse"/>
</message>
<message name="countVote">
<part name="parameters" element="tns:countVote"/>
</message>
<message name="countVoteResponse">
<part name="parameters" element="tns:countVoteResponse"/>
</message>
<message name="getUIDbyToken">
<part name="parameters" element="tns:getUIDbyToken"/>
</message>
<message name="getUIDbyTokenResponse">
<part name="parameters" element="tns:getUIDbyTokenResponse"/>
</message>
<message name="getUserbyToken">
<part name="parameters" element="tns:getUserbyToken"/>
</message>
<message name="getUserbyTokenResponse">
<part name="parameters" element="tns:getUserbyTokenResponse"/>
</message>
<message name="createAnswer">
<part name="parameters" element="tns:createAnswer"/>
</message>
<message name="createAnswerResponse">
<part name="parameters" element="tns:createAnswerResponse"/>
</message>
<portType name="Operation">
<operation name="register">
<input wsam:Action="http://stackexchangews/Operation/registerRequest" message="tns:register"/>
<output wsam:Action="http://stackexchangews/Operation/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="editQ">
<input wsam:Action="http://stackexchangews/Operation/editQRequest" message="tns:editQ"/>
<output wsam:Action="http://stackexchangews/Operation/editQResponse" message="tns:editQResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://stackexchangews/Operation/editQ/Fault/IOException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://stackexchangews/Operation/editQ/Fault/UnsupportedEncodingException"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://stackexchangews/Operation/editQ/Fault/MalformedURLException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://stackexchangews/Operation/editQ/Fault/ParseException"/>
</operation>
<operation name="deleteQ">
<input wsam:Action="http://stackexchangews/Operation/deleteQRequest" message="tns:deleteQ"/>
<output wsam:Action="http://stackexchangews/Operation/deleteQResponse" message="tns:deleteQResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://stackexchangews/Operation/deleteQ/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://stackexchangews/Operation/deleteQ/Fault/IOException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://stackexchangews/Operation/deleteQ/Fault/UnsupportedEncodingException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://stackexchangews/Operation/deleteQ/Fault/ParseException"/>
</operation>
<operation name="vote">
<input wsam:Action="http://stackexchangews/Operation/voteRequest" message="tns:vote"/>
<output wsam:Action="http://stackexchangews/Operation/voteResponse" message="tns:voteResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://stackexchangews/Operation/vote/Fault/IOException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://stackexchangews/Operation/vote/Fault/UnsupportedEncodingException"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://stackexchangews/Operation/vote/Fault/MalformedURLException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://stackexchangews/Operation/vote/Fault/ParseException"/>
</operation>
<operation name="canVote">
<input wsam:Action="http://stackexchangews/Operation/canVoteRequest" message="tns:canVote"/>
<output wsam:Action="http://stackexchangews/Operation/canVoteResponse" message="tns:canVoteResponse"/>
</operation>
<operation name="deleteA">
<input wsam:Action="http://stackexchangews/Operation/deleteARequest" message="tns:deleteA"/>
<output wsam:Action="http://stackexchangews/Operation/deleteAResponse" message="tns:deleteAResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://stackexchangews/Operation/deleteA/Fault/MalformedURLException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://stackexchangews/Operation/deleteA/Fault/ParseException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://stackexchangews/Operation/deleteA/Fault/IOException"/>
</operation>
<operation name="Auth">
<input wsam:Action="http://stackexchangews/Operation/AuthRequest" message="tns:Auth"/>
<output wsam:Action="http://stackexchangews/Operation/AuthResponse" message="tns:AuthResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://stackexchangews/Operation/Auth/Fault/UnsupportedEncodingException"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://stackexchangews/Operation/Auth/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://stackexchangews/Operation/Auth/Fault/IOException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://stackexchangews/Operation/Auth/Fault/ParseException"/>
</operation>
<operation name="createQuestion">
<input wsam:Action="http://stackexchangews/Operation/createQuestionRequest" message="tns:createQuestion"/>
<output wsam:Action="http://stackexchangews/Operation/createQuestionResponse" message="tns:createQuestionResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://stackexchangews/Operation/createQuestion/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://stackexchangews/Operation/createQuestion/Fault/IOException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://stackexchangews/Operation/createQuestion/Fault/UnsupportedEncodingException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://stackexchangews/Operation/createQuestion/Fault/ParseException"/>
</operation>
<operation name="countAnswer">
<input wsam:Action="http://stackexchangews/Operation/countAnswerRequest" message="tns:countAnswer"/>
<output wsam:Action="http://stackexchangews/Operation/countAnswerResponse" message="tns:countAnswerResponse"/>
</operation>
<operation name="getUserbyID">
<input wsam:Action="http://stackexchangews/Operation/getUserbyIDRequest" message="tns:getUserbyID"/>
<output wsam:Action="http://stackexchangews/Operation/getUserbyIDResponse" message="tns:getUserbyIDResponse"/>
</operation>
<operation name="countVote">
<input wsam:Action="http://stackexchangews/Operation/countVoteRequest" message="tns:countVote"/>
<output wsam:Action="http://stackexchangews/Operation/countVoteResponse" message="tns:countVoteResponse"/>
</operation>
<operation name="getUIDbyToken">
<input wsam:Action="http://stackexchangews/Operation/getUIDbyTokenRequest" message="tns:getUIDbyToken"/>
<output wsam:Action="http://stackexchangews/Operation/getUIDbyTokenResponse" message="tns:getUIDbyTokenResponse"/>
</operation>
<operation name="getUserbyToken">
<input wsam:Action="http://stackexchangews/Operation/getUserbyTokenRequest" message="tns:getUserbyToken"/>
<output wsam:Action="http://stackexchangews/Operation/getUserbyTokenResponse" message="tns:getUserbyTokenResponse"/>
</operation>
<operation name="createAnswer">
<input wsam:Action="http://stackexchangews/Operation/createAnswerRequest" message="tns:createAnswer"/>
<output wsam:Action="http://stackexchangews/Operation/createAnswerResponse" message="tns:createAnswerResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://stackexchangews/Operation/createAnswer/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://stackexchangews/Operation/createAnswer/Fault/IOException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://stackexchangews/Operation/createAnswer/Fault/UnsupportedEncodingException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://stackexchangews/Operation/createAnswer/Fault/ParseException"/>
</operation>
</portType>
<binding name="OperationPortBinding" type="tns:Operation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="deleteQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="vote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="canVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="Auth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="createQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="countAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserbyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUIDbyToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserbyToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Operation">
<port name="OperationPort" binding="tns:OperationPortBinding">
<soap:address location="http://localhost:8080/Operation/Operation"/>
</port>
</service>
</definitions>