StackExchangeClient/web/WEB-INF/wsdl/localhost_15534/StackExchangeService/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AnswerModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AnswerModel/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AnswerModel/" schemaLocation="http://localhost:15534/StackExchangeService/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="isValidToken">
<part name="parameters" element="tns:isValidToken"/>
</message>
<message name="isValidTokenResponse">
<part name="parameters" element="tns:isValidTokenResponse"/>
</message>
<message name="getVoteById">
<part name="parameters" element="tns:getVoteById"/>
</message>
<message name="getVoteByIdResponse">
<part name="parameters" element="tns:getVoteByIdResponse"/>
</message>
<message name="isVoteUp">
<part name="parameters" element="tns:isVoteUp"/>
</message>
<message name="isVoteUpResponse">
<part name="parameters" element="tns:isVoteUpResponse"/>
</message>
<message name="getAnswerByQID">
<part name="parameters" element="tns:getAnswerByQID"/>
</message>
<message name="getAnswerByQIDResponse">
<part name="parameters" element="tns:getAnswerByQIDResponse"/>
</message>
<message name="createAnswer">
<part name="parameters" element="tns:createAnswer"/>
</message>
<message name="createAnswerResponse">
<part name="parameters" element="tns:createAnswerResponse"/>
</message>
<message name="voteUp">
<part name="parameters" element="tns:voteUp"/>
</message>
<message name="voteUpResponse">
<part name="parameters" element="tns:voteUpResponse"/>
</message>
<message name="isVoteDown">
<part name="parameters" element="tns:isVoteDown"/>
</message>
<message name="isVoteDownResponse">
<part name="parameters" element="tns:isVoteDownResponse"/>
</message>
<message name="isVoted">
<part name="parameters" element="tns:isVoted"/>
</message>
<message name="isVotedResponse">
<part name="parameters" element="tns:isVotedResponse"/>
</message>
<message name="voteDown">
<part name="parameters" element="tns:voteDown"/>
</message>
<message name="voteDownResponse">
<part name="parameters" element="tns:voteDownResponse"/>
</message>
<portType name="AnswerWS">
<operation name="isValidToken">
<input wsam:Action="http://AnswerModel/AnswerWS/isValidTokenRequest" message="tns:isValidToken"/>
<output wsam:Action="http://AnswerModel/AnswerWS/isValidTokenResponse" message="tns:isValidTokenResponse"/>
</operation>
<operation name="getVoteById">
<input wsam:Action="http://AnswerModel/AnswerWS/getVoteByIdRequest" message="tns:getVoteById"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getVoteByIdResponse" message="tns:getVoteByIdResponse"/>
</operation>
<operation name="isVoteUp">
<input wsam:Action="http://AnswerModel/AnswerWS/isVoteUpRequest" message="tns:isVoteUp"/>
<output wsam:Action="http://AnswerModel/AnswerWS/isVoteUpResponse" message="tns:isVoteUpResponse"/>
</operation>
<operation name="getAnswerByQID">
<input wsam:Action="http://AnswerModel/AnswerWS/getAnswerByQIDRequest" message="tns:getAnswerByQID"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getAnswerByQIDResponse" message="tns:getAnswerByQIDResponse"/>
</operation>
<operation name="createAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/createAnswerRequest" message="tns:createAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/createAnswerResponse" message="tns:createAnswerResponse"/>
</operation>
<operation name="voteUp">
<input wsam:Action="http://AnswerModel/AnswerWS/voteUpRequest" message="tns:voteUp"/>
<output wsam:Action="http://AnswerModel/AnswerWS/voteUpResponse" message="tns:voteUpResponse"/>
</operation>
<operation name="isVoteDown">
<input wsam:Action="http://AnswerModel/AnswerWS/isVoteDownRequest" message="tns:isVoteDown"/>
<output wsam:Action="http://AnswerModel/AnswerWS/isVoteDownResponse" message="tns:isVoteDownResponse"/>
</operation>
<operation name="isVoted">
<input wsam:Action="http://AnswerModel/AnswerWS/isVotedRequest" message="tns:isVoted"/>
<output wsam:Action="http://AnswerModel/AnswerWS/isVotedResponse" message="tns:isVotedResponse"/>
</operation>
<operation name="voteDown">
<input wsam:Action="http://AnswerModel/AnswerWS/voteDownRequest" message="tns:voteDown"/>
<output wsam:Action="http://AnswerModel/AnswerWS/voteDownResponse" message="tns:voteDownResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isValidToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVoteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isVoteUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isVoteDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isVoted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:15534/StackExchangeService/AnswerWS"/>
</port>
</service>
</definitions>