Client/src/conf/xml-resources/web-service-references/StackExchangeService_1/wsdl/localhost_8080/StackExchangeService/StackExchangeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="Question" type="tns:question"/>

<xs:element name="getAllQuestion" type="tns:getAllQuestion"/>

<xs:element name="getAllQuestionResponse" type="tns:getAllQuestionResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getAllQuestion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllQuestionResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="qtopic" type="xs:string"/>
<xs:element name="qcontent" type="xs:string"/>
<xs:element name="votes" type="xs:int"/>
<xs:element name="answer_count" type="xs:int"/>
<xs:element name="created_at" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>