StackExchange Client/src/conf/xml-resources/web-service-references/QuestionWS/wsdl/localhost_8081/StackExchange_WS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://QuestionModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://QuestionModel/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://QuestionModel/" schemaLocation="http://localhost:8081/StackExchange_WS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="voteQuestion">
<part name="parameters" element="tns:voteQuestion"/>
</message>
<message name="voteQuestionResponse">
<part name="parameters" element="tns:voteQuestionResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="GetQuestionByID">
<part name="parameters" element="tns:GetQuestionByID"/>
</message>
<message name="GetQuestionByIDResponse">
<part name="parameters" element="tns:GetQuestionByIDResponse"/>
</message>
<message name="GetAllQuestion">
<part name="parameters" element="tns:GetAllQuestion"/>
</message>
<message name="GetAllQuestionResponse">
<part name="parameters" element="tns:GetAllQuestionResponse"/>
</message>
<message name="DeleteQuestion">
<part name="parameters" element="tns:DeleteQuestion"/>
</message>
<message name="DeleteQuestionResponse">
<part name="parameters" element="tns:DeleteQuestionResponse"/>
</message>
<message name="editQuestion">
<part name="parameters" element="tns:editQuestion"/>
</message>
<message name="editQuestionResponse">
<part name="parameters" element="tns:editQuestionResponse"/>
</message>
<message name="createQuestion">
<part name="parameters" element="tns:createQuestion"/>
</message>
<message name="createQuestionResponse">
<part name="parameters" element="tns:createQuestionResponse"/>
</message>
<portType name="QuestionWS">
<operation name="voteQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/voteQuestionRequest" message="tns:voteQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/voteQuestionResponse" message="tns:voteQuestionResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://QuestionModel/QuestionWS/voteQuestion/Fault/ParseException"/>
</operation>
<operation name="GetQuestionByID">
<input wsam:Action="http://QuestionModel/QuestionWS/GetQuestionByIDRequest" message="tns:GetQuestionByID"/>
<output wsam:Action="http://QuestionModel/QuestionWS/GetQuestionByIDResponse" message="tns:GetQuestionByIDResponse"/>
</operation>
<operation name="GetAllQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/GetAllQuestionRequest" message="tns:GetAllQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/GetAllQuestionResponse" message="tns:GetAllQuestionResponse"/>
</operation>
<operation name="DeleteQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/DeleteQuestionRequest" message="tns:DeleteQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/DeleteQuestionResponse" message="tns:DeleteQuestionResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://QuestionModel/QuestionWS/DeleteQuestion/Fault/ParseException"/>
</operation>
<operation name="editQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/editQuestionRequest" message="tns:editQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/editQuestionResponse" message="tns:editQuestionResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://QuestionModel/QuestionWS/editQuestion/Fault/ParseException"/>
</operation>
<operation name="createQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/createQuestionRequest" message="tns:createQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/createQuestionResponse" message="tns:createQuestionResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://QuestionModel/QuestionWS/createQuestion/Fault/ParseException"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="voteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="GetQuestionByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="editQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="createQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8081/StackExchange_WS/QuestionWS"/>
</port>
</service>
</definitions>