StackExchange-Client/web/WEB-INF/wsdl/localhost_8081/StackExchange-WebService/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.stackexchange/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.stackexchange/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.stackexchange/" schemaLocation="http://localhost:8081/StackExchange-WebService/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAnswers_1">
<part name="parameters" element="tns:getAnswers_1"/>
</message>
<message name="getAnswers_1Response">
<part name="parameters" element="tns:getAnswers_1Response"/>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"/>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"/>
</message>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"/>
</message>
<message name="deleteAnswer">
<part name="parameters" element="tns:deleteAnswer"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswer_1">
<part name="parameters" element="tns:voteAnswer_1"/>
</message>
<message name="updateAnswer">
<part name="parameters" element="tns:updateAnswer"/>
</message>
<portType name="AnswerWS">
<operation name="getAnswers_1">
<input wsam:Action="http://webservice.stackexchange/AnswerWS/getAnswers_1Request" message="tns:getAnswers_1"/>
<output wsam:Action="http://webservice.stackexchange/AnswerWS/getAnswers_1Response" message="tns:getAnswers_1Response"/>
</operation>
<operation name="getAnswers">
<input wsam:Action="http://webservice.stackexchange/AnswerWS/getAnswersRequest" message="tns:getAnswers"/>
<output wsam:Action="http://webservice.stackexchange/AnswerWS/getAnswersResponse" message="tns:getAnswersResponse"/>
</operation>
<operation name="addAnswer">
<input wsam:Action="http://webservice.stackexchange/AnswerWS/addAnswer" message="tns:addAnswer"/>
</operation>
<operation name="deleteAnswer">
<input wsam:Action="http://webservice.stackexchange/AnswerWS/deleteAnswer" message="tns:deleteAnswer"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://webservice.stackexchange/AnswerWS/voteAnswer" message="tns:voteAnswer"/>
</operation>
<operation name="voteAnswer_1">
<input wsam:Action="http://webservice.stackexchange/AnswerWS/voteAnswer_1" message="tns:voteAnswer_1"/>
</operation>
<operation name="updateAnswer">
<input wsam:Action="http://webservice.stackexchange/AnswerWS/updateAnswer" message="tns:updateAnswer"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAnswers_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="voteAnswer_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8081/StackExchange-WebService/AnswerWS"/>
</port>
</service>
</definitions>