StackExchange-Client/web/WEB-INF/wsdl/localhost_8081/StackExchange-WebService/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.stackexchange/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.stackexchange/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.stackexchange/" schemaLocation="http://localhost:8081/StackExchange-WebService/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getToken">
<part name="parameters" element="tns:getToken"/>
</message>
<message name="getTokenResponse">
<part name="parameters" element="tns:getTokenResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getUserByEmail">
<part name="parameters" element="tns:getUserByEmail"/>
</message>
<message name="getUserByEmailResponse">
<part name="parameters" element="tns:getUserByEmailResponse"/>
</message>
<message name="signOut">
<part name="parameters" element="tns:signOut"/>
</message>
<message name="signOutResponse">
<part name="parameters" element="tns:signOutResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<portType name="UserWS">
<operation name="getToken">
<input wsam:Action="http://webservice.stackexchange/UserWS/getTokenRequest" message="tns:getToken"/>
<output wsam:Action="http://webservice.stackexchange/UserWS/getTokenResponse" message="tns:getTokenResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://webservice.stackexchange/UserWS/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://webservice.stackexchange/UserWS/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://webservice.stackexchange/UserWS/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://webservice.stackexchange/UserWS/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://webservice.stackexchange/UserWS/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://webservice.stackexchange/UserWS/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="getUserByEmail">
<input wsam:Action="http://webservice.stackexchange/UserWS/getUserByEmailRequest" message="tns:getUserByEmail"/>
<output wsam:Action="http://webservice.stackexchange/UserWS/getUserByEmailResponse" message="tns:getUserByEmailResponse"/>
</operation>
<operation name="signOut">
<input wsam:Action="http://webservice.stackexchange/UserWS/signOutRequest" message="tns:signOut"/>
<output wsam:Action="http://webservice.stackexchange/UserWS/signOutResponse" message="tns:signOutResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://webservice.stackexchange/UserWS/deleteUser" message="tns:deleteUser"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8081/StackExchange-WebService/UserWS"/>
</port>
</service>
</definitions>