StackExchangeclient/web/WEB-INF/wsdl/localhost_8081/Web_Service/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://jaxws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jaxws/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="getAnswerByQID" type="tns:getAnswerByQID"/>

<xs:element name="getAnswerByQIDResponse" type="tns:getAnswerByQIDResponse"/>

<xs:element name="getAnswerQID" type="tns:getAnswerQID"/>

<xs:element name="getAnswerQIDResponse" type="tns:getAnswerQIDResponse"/>

<xs:element name="getAnswerUID" type="tns:getAnswerUID"/>

<xs:element name="getAnswerUIDResponse" type="tns:getAnswerUIDResponse"/>

<xs:element name="getAnswerVote" type="tns:getAnswerVote"/>

<xs:element name="getAnswerVoteResponse" type="tns:getAnswerVoteResponse"/>

<xs:element name="insertAnswer" type="tns:insertAnswer"/>

<xs:element name="insertAnswerResponse" type="tns:insertAnswerResponse"/>

<xs:element name="numVoteAnswer" type="tns:numVoteAnswer"/>

<xs:element name="numVoteAnswerResponse" type="tns:numVoteAnswerResponse"/>

<xs:element name="setAnswerVote" type="tns:setAnswerVote"/>

<xs:element name="setAnswerVoteResponse" type="tns:setAnswerVoteResponse"/>

<xs:element name="voteAnswer" type="tns:voteAnswer"/>

<xs:element name="voteAnswerResponse" type="tns:voteAnswerResponse"/>

<xs:complexType name="getAnswerQID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerQIDResponse">
<xs:sequence>
<xs:element name="gtQID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerUID">
<xs:sequence>
<xs:element name="aid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerUIDResponse">
<xs:sequence>
<xs:element name="getAnswerUID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAnswer">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="qid" type="xs:int"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAnswerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAnswerVote">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerVoteResponse">
<xs:sequence>
<xs:element name="gtVote" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQID">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQIDResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="qid" type="xs:int"/>
<xs:element name="uid" type="xs:int"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="date" type="xs:string"/>
<xs:element name="vote" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAnswerVote">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="val" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAnswerVoteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="numVoteAnswer">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="aid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numVoteAnswerResponse">
<xs:sequence>
<xs:element name="numVoteAnswer" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswer">
<xs:sequence>
<xs:element name="aid" type="xs:int"/>
<xs:element name="uid" type="xs:int"/>
<xs:element name="type" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteAnswerResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>