StackExchangeclient/web/WEB-INF/wsdl/localhost_8081/Web_Service/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxws/" schemaLocation="http://localhost:8081/Web_Service/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="insertAnswer">
<part name="parameters" element="tns:insertAnswer"/>
</message>
<message name="insertAnswerResponse">
<part name="parameters" element="tns:insertAnswerResponse"/>
</message>
<message name="getAnswerQID">
<part name="parameters" element="tns:getAnswerQID"/>
</message>
<message name="getAnswerQIDResponse">
<part name="parameters" element="tns:getAnswerQIDResponse"/>
</message>
<message name="getAnswerVote">
<part name="parameters" element="tns:getAnswerVote"/>
</message>
<message name="getAnswerVoteResponse">
<part name="parameters" element="tns:getAnswerVoteResponse"/>
</message>
<message name="getAnswerUID">
<part name="parameters" element="tns:getAnswerUID"/>
</message>
<message name="getAnswerUIDResponse">
<part name="parameters" element="tns:getAnswerUIDResponse"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswerResponse">
<part name="parameters" element="tns:voteAnswerResponse"/>
</message>
<message name="numVoteAnswer">
<part name="parameters" element="tns:numVoteAnswer"/>
</message>
<message name="numVoteAnswerResponse">
<part name="parameters" element="tns:numVoteAnswerResponse"/>
</message>
<message name="getAnswerByQID">
<part name="parameters" element="tns:getAnswerByQID"/>
</message>
<message name="getAnswerByQIDResponse">
<part name="parameters" element="tns:getAnswerByQIDResponse"/>
</message>
<message name="setAnswerVote">
<part name="parameters" element="tns:setAnswerVote"/>
</message>
<message name="setAnswerVoteResponse">
<part name="parameters" element="tns:setAnswerVoteResponse"/>
</message>
<portType name="AnswerWS">
<operation name="insertAnswer">
<input wsam:Action="http://jaxws/AnswerWS/insertAnswerRequest" message="tns:insertAnswer"/>
<output wsam:Action="http://jaxws/AnswerWS/insertAnswerResponse" message="tns:insertAnswerResponse"/>
</operation>
<operation name="getAnswerQID">
<input wsam:Action="http://jaxws/AnswerWS/getAnswerQIDRequest" message="tns:getAnswerQID"/>
<output wsam:Action="http://jaxws/AnswerWS/getAnswerQIDResponse" message="tns:getAnswerQIDResponse"/>
</operation>
<operation name="getAnswerVote">
<input wsam:Action="http://jaxws/AnswerWS/getAnswerVoteRequest" message="tns:getAnswerVote"/>
<output wsam:Action="http://jaxws/AnswerWS/getAnswerVoteResponse" message="tns:getAnswerVoteResponse"/>
</operation>
<operation name="getAnswerUID">
<input wsam:Action="http://jaxws/AnswerWS/getAnswerUIDRequest" message="tns:getAnswerUID"/>
<output wsam:Action="http://jaxws/AnswerWS/getAnswerUIDResponse" message="tns:getAnswerUIDResponse"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://jaxws/AnswerWS/voteAnswerRequest" message="tns:voteAnswer"/>
<output wsam:Action="http://jaxws/AnswerWS/voteAnswerResponse" message="tns:voteAnswerResponse"/>
</operation>
<operation name="numVoteAnswer">
<input wsam:Action="http://jaxws/AnswerWS/numVoteAnswerRequest" message="tns:numVoteAnswer"/>
<output wsam:Action="http://jaxws/AnswerWS/numVoteAnswerResponse" message="tns:numVoteAnswerResponse"/>
</operation>
<operation name="getAnswerByQID">
<input wsam:Action="http://jaxws/AnswerWS/getAnswerByQIDRequest" message="tns:getAnswerByQID"/>
<output wsam:Action="http://jaxws/AnswerWS/getAnswerByQIDResponse" message="tns:getAnswerByQIDResponse"/>
</operation>
<operation name="setAnswerVote">
<input wsam:Action="http://jaxws/AnswerWS/setAnswerVoteRequest" message="tns:setAnswerVote"/>
<output wsam:Action="http://jaxws/AnswerWS/setAnswerVoteResponse" message="tns:setAnswerVoteResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerUID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numVoteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAnswerVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8081/Web_Service/AnswerWS"/>
</port>
</service>
</definitions>