StackExchangeclient/web/WEB-INF/wsdl/localhost_8081/Web_Service/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxws/" schemaLocation="http://localhost:8081/Web_Service/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getQuestionByQuery">
<part name="parameters" element="tns:getQuestionByQuery"/>
</message>
<message name="getQuestionByQueryResponse">
<part name="parameters" element="tns:getQuestionByQueryResponse"/>
</message>
<message name="setQuestionVote">
<part name="parameters" element="tns:setQuestionVote"/>
</message>
<message name="setQuestionVoteResponse">
<part name="parameters" element="tns:setQuestionVoteResponse"/>
</message>
<message name="getQuestionVote">
<part name="parameters" element="tns:getQuestionVote"/>
</message>
<message name="getQuestionVoteResponse">
<part name="parameters" element="tns:getQuestionVoteResponse"/>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<message name="getQuestionByQID">
<part name="parameters" element="tns:getQuestionByQID"/>
</message>
<message name="getQuestionByQIDResponse">
<part name="parameters" element="tns:getQuestionByQIDResponse"/>
</message>
<message name="insertQuestion">
<part name="parameters" element="tns:insertQuestion"/>
</message>
<message name="insertQuestionResponse">
<part name="parameters" element="tns:insertQuestionResponse"/>
</message>
<message name="UpdateQuestion">
<part name="parameters" element="tns:UpdateQuestion"/>
</message>
<message name="UpdateQuestionResponse">
<part name="parameters" element="tns:UpdateQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="voteQuestion">
<part name="parameters" element="tns:voteQuestion"/>
</message>
<message name="voteQuestionResponse">
<part name="parameters" element="tns:voteQuestionResponse"/>
</message>
<message name="getQuestionUID">
<part name="parameters" element="tns:getQuestionUID"/>
</message>
<message name="getQuestionUIDResponse">
<part name="parameters" element="tns:getQuestionUIDResponse"/>
</message>
<message name="numVoteQuestion">
<part name="parameters" element="tns:numVoteQuestion"/>
</message>
<message name="numVoteQuestionResponse">
<part name="parameters" element="tns:numVoteQuestionResponse"/>
</message>
<portType name="QuestionWS">
<operation name="getQuestionByQuery">
<input wsam:Action="http://jaxws/QuestionWS/getQuestionByQueryRequest" message="tns:getQuestionByQuery"/>
<output wsam:Action="http://jaxws/QuestionWS/getQuestionByQueryResponse" message="tns:getQuestionByQueryResponse"/>
</operation>
<operation name="setQuestionVote">
<input wsam:Action="http://jaxws/QuestionWS/setQuestionVoteRequest" message="tns:setQuestionVote"/>
<output wsam:Action="http://jaxws/QuestionWS/setQuestionVoteResponse" message="tns:setQuestionVoteResponse"/>
</operation>
<operation name="getQuestionVote">
<input wsam:Action="http://jaxws/QuestionWS/getQuestionVoteRequest" message="tns:getQuestionVote"/>
<output wsam:Action="http://jaxws/QuestionWS/getQuestionVoteResponse" message="tns:getQuestionVoteResponse"/>
</operation>
<operation name="getQuestion">
<input wsam:Action="http://jaxws/QuestionWS/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://jaxws/QuestionWS/getQuestionResponse" message="tns:getQuestionResponse"/>
</operation>
<operation name="getQuestionByQID">
<input wsam:Action="http://jaxws/QuestionWS/getQuestionByQIDRequest" message="tns:getQuestionByQID"/>
<output wsam:Action="http://jaxws/QuestionWS/getQuestionByQIDResponse" message="tns:getQuestionByQIDResponse"/>
</operation>
<operation name="insertQuestion">
<input wsam:Action="http://jaxws/QuestionWS/insertQuestionRequest" message="tns:insertQuestion"/>
<output wsam:Action="http://jaxws/QuestionWS/insertQuestionResponse" message="tns:insertQuestionResponse"/>
</operation>
<operation name="UpdateQuestion">
<input wsam:Action="http://jaxws/QuestionWS/UpdateQuestionRequest" message="tns:UpdateQuestion"/>
<output wsam:Action="http://jaxws/QuestionWS/UpdateQuestionResponse" message="tns:UpdateQuestionResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://jaxws/QuestionWS/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://jaxws/QuestionWS/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="voteQuestion">
<input wsam:Action="http://jaxws/QuestionWS/voteQuestionRequest" message="tns:voteQuestion"/>
<output wsam:Action="http://jaxws/QuestionWS/voteQuestionResponse" message="tns:voteQuestionResponse"/>
</operation>
<operation name="getQuestionUID">
<input wsam:Action="http://jaxws/QuestionWS/getQuestionUIDRequest" message="tns:getQuestionUID"/>
<output wsam:Action="http://jaxws/QuestionWS/getQuestionUIDResponse" message="tns:getQuestionUIDResponse"/>
</operation>
<operation name="numVoteQuestion">
<input wsam:Action="http://jaxws/QuestionWS/numVoteQuestionRequest" message="tns:numVoteQuestion"/>
<output wsam:Action="http://jaxws/QuestionWS/numVoteQuestionResponse" message="tns:numVoteQuestionResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getQuestionByQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setQuestionVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionUID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numVoteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8081/Web_Service/QuestionWS"/>
</port>
</service>
</definitions>