StackExchangeClient/src/conf/xml-resources/web-service-references/AnswerHandler/wsdl/localhost_8080/StackExchangeWS/AnswerHandler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.stackExchangeWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.stackExchangeWS/" name="AnswerHandler">
<types>
<xsd:schema>
<xsd:import namespace="http://services.stackExchangeWS/" schemaLocation="http://localhost:8080/StackExchangeWS/AnswerHandler?xsd=1"/>
</xsd:schema>
</types>
<message name="getQuestionId">
<part name="parameters" element="tns:getQuestionId"/>
</message>
<message name="getQuestionIdResponse">
<part name="parameters" element="tns:getQuestionIdResponse"/>
</message>
<message name="getAllAnswers">
<part name="parameters" element="tns:getAllAnswers"/>
</message>
<message name="getAllAnswersResponse">
<part name="parameters" element="tns:getAllAnswersResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="votesUpAnswer">
<part name="parameters" element="tns:votesUpAnswer"/>
</message>
<message name="votesUpAnswerResponse">
<part name="parameters" element="tns:votesUpAnswerResponse"/>
</message>
<message name="votesDownAnswer">
<part name="parameters" element="tns:votesDownAnswer"/>
</message>
<message name="votesDownAnswerResponse">
<part name="parameters" element="tns:votesDownAnswerResponse"/>
</message>
<message name="answerQuestion">
<part name="parameters" element="tns:answerQuestion"/>
</message>
<message name="answerQuestionResponse">
<part name="parameters" element="tns:answerQuestionResponse"/>
</message>
<portType name="AnswerHandler">
<operation name="getQuestionId">
<input wsam:Action="http://services.stackExchangeWS/AnswerHandler/getQuestionIdRequest" message="tns:getQuestionId"/>
<output wsam:Action="http://services.stackExchangeWS/AnswerHandler/getQuestionIdResponse" message="tns:getQuestionIdResponse"/>
</operation>
<operation name="getAllAnswers">
<input wsam:Action="http://services.stackExchangeWS/AnswerHandler/getAllAnswersRequest" message="tns:getAllAnswers"/>
<output wsam:Action="http://services.stackExchangeWS/AnswerHandler/getAllAnswersResponse" message="tns:getAllAnswersResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/AnswerHandler/getAllAnswers/Fault/SQLException"/>
</operation>
<operation name="votesUpAnswer">
<input wsam:Action="http://services.stackExchangeWS/AnswerHandler/votesUpAnswerRequest" message="tns:votesUpAnswer"/>
<output wsam:Action="http://services.stackExchangeWS/AnswerHandler/votesUpAnswerResponse" message="tns:votesUpAnswerResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/AnswerHandler/votesUpAnswer/Fault/SQLException"/>
</operation>
<operation name="votesDownAnswer">
<input wsam:Action="http://services.stackExchangeWS/AnswerHandler/votesDownAnswerRequest" message="tns:votesDownAnswer"/>
<output wsam:Action="http://services.stackExchangeWS/AnswerHandler/votesDownAnswerResponse" message="tns:votesDownAnswerResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/AnswerHandler/votesDownAnswer/Fault/SQLException"/>
</operation>
<operation name="answerQuestion">
<input wsam:Action="http://services.stackExchangeWS/AnswerHandler/answerQuestionRequest" message="tns:answerQuestion"/>
<output wsam:Action="http://services.stackExchangeWS/AnswerHandler/answerQuestionResponse" message="tns:answerQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/AnswerHandler/answerQuestion/Fault/SQLException"/>
</operation>
</portType>
<binding name="AnswerHandlerPortBinding" type="tns:AnswerHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getQuestionId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="votesUpAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="votesDownAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="answerQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AnswerHandler">
<port name="AnswerHandlerPort" binding="tns:AnswerHandlerPortBinding">
<soap:address location="http://localhost:8080/StackExchangeWS/AnswerHandler"/>
</port>
</service>
</definitions>