StackExchangeClient/src/conf/xml-resources/web-service-references/UserHandler/wsdl/localhost_8080/StackExchangeWS/UserHandler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.stackExchangeWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.stackExchangeWS/" name="UserHandler">
<types>
<xsd:schema>
<xsd:import namespace="http://services.stackExchangeWS/" schemaLocation="http://localhost:8080/StackExchangeWS/UserHandler?xsd=1"/>
</xsd:schema>
</types>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<portType name="UserHandler">
<operation name="registerUser">
<input wsam:Action="http://services.stackExchangeWS/UserHandler/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://services.stackExchangeWS/UserHandler/registerUserResponse" message="tns:registerUserResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/UserHandler/registerUser/Fault/SQLException"/>
</operation>
<operation name="logout">
<input wsam:Action="http://services.stackExchangeWS/UserHandler/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://services.stackExchangeWS/UserHandler/logoutResponse" message="tns:logoutResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/UserHandler/logout/Fault/SQLException"/>
</operation>
</portType>
<binding name="UserHandlerPortBinding" type="tns:UserHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="UserHandler">
<port name="UserHandlerPort" binding="tns:UserHandlerPortBinding">
<soap:address location="http://localhost:8080/StackExchangeWS/UserHandler"/>
</port>
</service>
</definitions>