StackExchangeClient/web/WEB-INF/wsdl/localhost_8081/StackExchangeWS/RegisterWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rgs.wbd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rgs.wbd.com/" name="RegisterWS">
<types>
<xsd:schema>
<xsd:import namespace="http://rgs.wbd.com/" schemaLocation="http://localhost:8081/StackExchangeWS/RegisterWS?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="signout">
<part name="parameters" element="tns:signout"/>
</message>
<message name="signoutResponse">
<part name="parameters" element="tns:signoutResponse"/>
</message>
<message name="getUsername">
<part name="parameters" element="tns:getUsername"/>
</message>
<message name="getUsernameResponse">
<part name="parameters" element="tns:getUsernameResponse"/>
</message>
<portType name="RegisterWS">
<operation name="register">
<input wsam:Action="http://rgs.wbd.com/RegisterWS/registerRequest" message="tns:register"/>
<output wsam:Action="http://rgs.wbd.com/RegisterWS/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="signout">
<input wsam:Action="http://rgs.wbd.com/RegisterWS/signoutRequest" message="tns:signout"/>
<output wsam:Action="http://rgs.wbd.com/RegisterWS/signoutResponse" message="tns:signoutResponse"/>
</operation>
<operation name="getUsername">
<input wsam:Action="http://rgs.wbd.com/RegisterWS/getUsernameRequest" message="tns:getUsername"/>
<output wsam:Action="http://rgs.wbd.com/RegisterWS/getUsernameResponse" message="tns:getUsernameResponse"/>
</operation>
</portType>
<binding name="RegisterWSPortBinding" type="tns:RegisterWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RegisterWS">
<port name="RegisterWSPort" binding="tns:RegisterWSPortBinding">
<soap:address location="http://localhost:8081/StackExchangeWS/RegisterWS"/>
</port>
</service>
</definitions>