StackExchangeClient/web/WEB-INF/wsdl/localhost_8081/StackExchangeWS/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://User/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://User/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://User/" schemaLocation="http://localhost:8081/StackExchangeWS/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="logoutUser">
<part name="parameters" element="tns:logoutUser"/>
</message>
<message name="logoutUserResponse">
<part name="parameters" element="tns:logoutUserResponse"/>
</message>
<message name="getUserByToken">
<part name="parameters" element="tns:getUserByToken"/>
</message>
<message name="getUserByTokenResponse">
<part name="parameters" element="tns:getUserByTokenResponse"/>
</message>
<portType name="UserWS">
<operation name="getUser">
<input wsam:Action="http://User/UserWS/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://User/UserWS/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://User/UserWS/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://User/UserWS/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="logoutUser">
<input wsam:Action="http://User/UserWS/logoutUserRequest" message="tns:logoutUser"/>
<output wsam:Action="http://User/UserWS/logoutUserResponse" message="tns:logoutUserResponse"/>
</operation>
<operation name="getUserByToken">
<input wsam:Action="http://User/UserWS/getUserByTokenRequest" message="tns:getUserByToken"/>
<output wsam:Action="http://User/UserWS/getUserByTokenResponse" message="tns:getUserByTokenResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logoutUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8081/StackExchangeWS/UserWS"/>
</port>
</service>
</definitions>