StackExchangeFE/web/WEB-INF/wsdl/localhost_8081/StackExchangeWS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://QuestionModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://QuestionModel/" name="QuestionWS">
<wsp:Policy wsu:Id="QuestionWSPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://QuestionModel/" schemaLocation="http://localhost:8081/StackExchangeWS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<message name="insertQuestion">
<part name="parameters" element="tns:insertQuestion"/>
</message>
<message name="insertQuestionResponse">
<part name="parameters" element="tns:insertQuestionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"/>
</message>
<message name="deleteQuesetion">
<part name="parameters" element="tns:deleteQuesetion"/>
</message>
<message name="deleteQuesetionResponse">
<part name="parameters" element="tns:deleteQuesetionResponse"/>
</message>
<message name="getAnswerCount">
<part name="parameters" element="tns:getAnswerCount"/>
</message>
<message name="getAnswerCountResponse">
<part name="parameters" element="tns:getAnswerCountResponse"/>
</message>
<message name="getQVoteByQID">
<part name="parameters" element="tns:getQVoteByQID"/>
</message>
<message name="getQVoteByQIDResponse">
<part name="parameters" element="tns:getQVoteByQIDResponse"/>
</message>
<message name="getUserID">
<part name="parameters" element="tns:getUserID"/>
</message>
<message name="getUserIDResponse">
<part name="parameters" element="tns:getUserIDResponse"/>
</message>
<portType name="QuestionWS">
<operation name="getQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getQuestionResponse" message="tns:getQuestionResponse"/>
</operation>
<operation name="insertQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/insertQuestionRequest" message="tns:insertQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/insertQuestionResponse" message="tns:insertQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://QuestionModel/QuestionWS/insertQuestion/Fault/Exception"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/updateQuestionRequest" message="tns:updateQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/updateQuestionResponse" message="tns:updateQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://QuestionModel/QuestionWS/updateQuestion/Fault/Exception"/>
</operation>
<operation name="deleteQuesetion">
<input wsam:Action="http://QuestionModel/QuestionWS/deleteQuesetionRequest" message="tns:deleteQuesetion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/deleteQuesetionResponse" message="tns:deleteQuesetionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://QuestionModel/QuestionWS/deleteQuesetion/Fault/Exception"/>
</operation>
<operation name="getAnswerCount">
<input wsam:Action="http://QuestionModel/QuestionWS/getAnswerCountRequest" message="tns:getAnswerCount"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getAnswerCountResponse" message="tns:getAnswerCountResponse"/>
</operation>
<operation name="getQVoteByQID">
<input wsam:Action="http://QuestionModel/QuestionWS/getQVoteByQIDRequest" message="tns:getQVoteByQID"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getQVoteByQIDResponse" message="tns:getQVoteByQIDResponse"/>
</operation>
<operation name="getUserID">
<input wsam:Action="http://QuestionModel/QuestionWS/getUserIDRequest" message="tns:getUserID"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getUserIDResponse" message="tns:getUserIDResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<wsp:PolicyReference URI="#QuestionWSPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteQuesetion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAnswerCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQVoteByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8081/StackExchangeWS/QuestionWS"/>
</port>
</service>
</definitions>