StackExchangeFE/web/WEB-INF/wsdl/localhost_8081/StackExchangeWS/QuestionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://qst.wbd.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://qst.wbd.com/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="Question" type="tns:question"/>

<xs:element name="createQ" type="tns:createQ"/>

<xs:element name="createQResponse" type="tns:createQResponse"/>

<xs:element name="deleteQ" type="tns:deleteQ"/>

<xs:element name="deleteQResponse" type="tns:deleteQResponse"/>

<xs:element name="getNama" type="tns:getNama"/>

<xs:element name="getNamaResponse" type="tns:getNamaResponse"/>

<xs:element name="getQuestionbyID" type="tns:getQuestionbyID"/>

<xs:element name="getQuestionbyIDResponse" type="tns:getQuestionbyIDResponse"/>

<xs:element name="retrieveQ" type="tns:retrieveQ"/>

<xs:element name="retrieveQResponse" type="tns:retrieveQResponse"/>

<xs:element name="searchQ" type="tns:searchQ"/>

<xs:element name="searchQResponse" type="tns:searchQResponse"/>

<xs:element name="updateQ" type="tns:updateQ"/>

<xs:element name="updateQResponse" type="tns:updateQResponse"/>

<xs:element name="voteDown" type="tns:voteDown"/>

<xs:element name="voteDownResponse" type="tns:voteDownResponse"/>

<xs:element name="voteUp" type="tns:voteUp"/>

<xs:element name="voteUpResponse" type="tns:voteUpResponse"/>

<xs:complexType name="voteDown">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="qid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteDownResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQ">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateQ">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="qid" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateQResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNama">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNamaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionbyID">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionbyIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="IDQ" type="xs:int"/>
<xs:element name="iduser" type="xs:int"/>
<xs:element name="QuestionTopic" type="xs:string"/>
<xs:element name="Content" type="xs:string"/>
<xs:element name="Vote" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteUp">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="qid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQ">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchQ">
<xs:sequence>
<xs:element name="QuestionTopic" type="xs:string" minOccurs="0"/>
<xs:element name="Content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchQResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveQ">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveQResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>