Frontend-WebApp/web/WEB-INF/wsdl/localhost_8081/Stackexchange_Webservice/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://QuestionModule/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://QuestionModule/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://QuestionModule/" schemaLocation="http://localhost:8081/Stackexchange_Webservice/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="GetQuestionByID">
<part name="parameters" element="tns:GetQuestionByID"/>
</message>
<message name="GetQuestionByIDResponse">
<part name="parameters" element="tns:GetQuestionByIDResponse"/>
</message>
<message name="InsertQuestion">
<part name="parameters" element="tns:InsertQuestion"/>
</message>
<message name="InsertQuestionResponse">
<part name="parameters" element="tns:InsertQuestionResponse"/>
</message>
<message name="UpdateQuestion">
<part name="parameters" element="tns:UpdateQuestion"/>
</message>
<message name="UpdateQuestionResponse">
<part name="parameters" element="tns:UpdateQuestionResponse"/>
</message>
<message name="GetAllQuestion">
<part name="parameters" element="tns:GetAllQuestion"/>
</message>
<message name="GetAllQuestionResponse">
<part name="parameters" element="tns:GetAllQuestionResponse"/>
</message>
<message name="DeleteQuestion">
<part name="parameters" element="tns:DeleteQuestion"/>
</message>
<message name="DeleteQuestionResponse">
<part name="parameters" element="tns:DeleteQuestionResponse"/>
</message>
<message name="voteQuestion">
<part name="parameters" element="tns:voteQuestion"/>
</message>
<message name="voteQuestionResponse">
<part name="parameters" element="tns:voteQuestionResponse"/>
</message>
<portType name="QuestionWS">
<operation name="GetQuestionByID">
<input wsam:Action="http://QuestionModule/QuestionWS/GetQuestionByIDRequest" message="tns:GetQuestionByID"/>
<output wsam:Action="http://QuestionModule/QuestionWS/GetQuestionByIDResponse" message="tns:GetQuestionByIDResponse"/>
</operation>
<operation name="InsertQuestion">
<input wsam:Action="http://QuestionModule/QuestionWS/InsertQuestionRequest" message="tns:InsertQuestion"/>
<output wsam:Action="http://QuestionModule/QuestionWS/InsertQuestionResponse" message="tns:InsertQuestionResponse"/>
</operation>
<operation name="UpdateQuestion">
<input wsam:Action="http://QuestionModule/QuestionWS/UpdateQuestionRequest" message="tns:UpdateQuestion"/>
<output wsam:Action="http://QuestionModule/QuestionWS/UpdateQuestionResponse" message="tns:UpdateQuestionResponse"/>
</operation>
<operation name="GetAllQuestion">
<input wsam:Action="http://QuestionModule/QuestionWS/GetAllQuestionRequest" message="tns:GetAllQuestion"/>
<output wsam:Action="http://QuestionModule/QuestionWS/GetAllQuestionResponse" message="tns:GetAllQuestionResponse"/>
</operation>
<operation name="DeleteQuestion">
<input wsam:Action="http://QuestionModule/QuestionWS/DeleteQuestionRequest" message="tns:DeleteQuestion"/>
<output wsam:Action="http://QuestionModule/QuestionWS/DeleteQuestionResponse" message="tns:DeleteQuestionResponse"/>
</operation>
<operation name="voteQuestion">
<input wsam:Action="http://QuestionModule/QuestionWS/voteQuestionRequest" message="tns:voteQuestion"/>
<output wsam:Action="http://QuestionModule/QuestionWS/voteQuestionResponse" message="tns:voteQuestionResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetQuestionByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8081/Stackexchange_Webservice/QuestionWS"/>
</port>
</service>
</definitions>