StackExchange_Client/web/WEB-INF/wsdl/localhost_8081/StackExchange_WS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://question.model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://question.model/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://question.model/" schemaLocation="http://localhost:8081/StackExchange_WS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllQuestions">
<part name="parameters" element="tns:getAllQuestions"/>
</message>
<message name="getAllQuestionsResponse">
<part name="parameters" element="tns:getAllQuestionsResponse"/>
</message>
<message name="getQuestionByID">
<part name="parameters" element="tns:getQuestionByID"/>
</message>
<message name="getQuestionByIDResponse">
<part name="parameters" element="tns:getQuestionByIDResponse"/>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"/>
</message>
<message name="addQuestionResponse">
<part name="parameters" element="tns:addQuestionResponse"/>
</message>
<message name="editQuestion">
<part name="parameters" element="tns:editQuestion"/>
</message>
<message name="editQuestionResponse">
<part name="parameters" element="tns:editQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="searchQuestions">
<part name="parameters" element="tns:searchQuestions"/>
</message>
<message name="searchQuestionsResponse">
<part name="parameters" element="tns:searchQuestionsResponse"/>
</message>
<portType name="QuestionWS">
<operation name="getAllQuestions">
<input wsam:Action="http://question.model/QuestionWS/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://question.model/QuestionWS/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
</operation>
<operation name="getQuestionByID">
<input wsam:Action="http://question.model/QuestionWS/getQuestionByIDRequest" message="tns:getQuestionByID"/>
<output wsam:Action="http://question.model/QuestionWS/getQuestionByIDResponse" message="tns:getQuestionByIDResponse"/>
</operation>
<operation name="addQuestion">
<input wsam:Action="http://question.model/QuestionWS/addQuestionRequest" message="tns:addQuestion"/>
<output wsam:Action="http://question.model/QuestionWS/addQuestionResponse" message="tns:addQuestionResponse"/>
</operation>
<operation name="editQuestion">
<input wsam:Action="http://question.model/QuestionWS/editQuestionRequest" message="tns:editQuestion"/>
<output wsam:Action="http://question.model/QuestionWS/editQuestionResponse" message="tns:editQuestionResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://question.model/QuestionWS/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://question.model/QuestionWS/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="searchQuestions">
<input wsam:Action="http://question.model/QuestionWS/searchQuestionsRequest" message="tns:searchQuestions"/>
<output wsam:Action="http://question.model/QuestionWS/searchQuestionsResponse" message="tns:searchQuestionsResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8081/StackExchange_WS/QuestionWS"/>
</port>
</service>
</definitions>