StackExchange_Client/web/WEB-INF/wsdl/localhost_8081/StackExchange_WS/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://user.model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://user.model/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://user.model/" schemaLocation="http://localhost:8081/StackExchange_WS/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="getUserByID">
<part name="parameters" element="tns:getUserByID"/>
</message>
<message name="getUserByIDResponse">
<part name="parameters" element="tns:getUserByIDResponse"/>
</message>
<message name="getIDbyEmail">
<part name="parameters" element="tns:getIDbyEmail"/>
</message>
<message name="getIDbyEmailResponse">
<part name="parameters" element="tns:getIDbyEmailResponse"/>
</message>
<message name="getUserByToken">
<part name="parameters" element="tns:getUserByToken"/>
</message>
<message name="getUserByTokenResponse">
<part name="parameters" element="tns:getUserByTokenResponse"/>
</message>
<portType name="UserWS">
<operation name="addUser">
<input wsam:Action="http://user.model/UserWS/addUser" message="tns:addUser"/>
</operation>
<operation name="getUserByID">
<input wsam:Action="http://user.model/UserWS/getUserByIDRequest" message="tns:getUserByID"/>
<output wsam:Action="http://user.model/UserWS/getUserByIDResponse" message="tns:getUserByIDResponse"/>
</operation>
<operation name="getIDbyEmail">
<input wsam:Action="http://user.model/UserWS/getIDbyEmailRequest" message="tns:getIDbyEmail"/>
<output wsam:Action="http://user.model/UserWS/getIDbyEmailResponse" message="tns:getIDbyEmailResponse"/>
</operation>
<operation name="getUserByToken">
<input wsam:Action="http://user.model/UserWS/getUserByTokenRequest" message="tns:getUserByToken"/>
<output wsam:Action="http://user.model/UserWS/getUserByTokenResponse" message="tns:getUserByTokenResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getUserByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIDbyEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8081/StackExchange_WS/UserWS"/>
</port>
</service>
</definitions>