stack_exchange_netbeans/src/conf/xml-resources/web-service-references/QuestionWS_1/wsdl/localhost_8080/stack_exchange_web_services/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.stackexchange.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.webservice.stackexchange.org/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.webservice.stackexchange.org/" schemaLocation="http://localhost:8080/stack_exchange_web_services/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="upvote">
<part name="parameters" element="tns:upvote"/>
</message>
<message name="upvoteResponse">
<part name="parameters" element="tns:upvoteResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="downvote">
<part name="parameters" element="tns:downvote"/>
</message>
<message name="downvoteResponse">
<part name="parameters" element="tns:downvoteResponse"/>
</message>
<portType name="QuestionWS">
<operation name="update">
<input wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/updateRequest" message="tns:update"/>
<output wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/insertRequest" message="tns:insert"/>
<output wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="upvote">
<input wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/upvoteRequest" message="tns:upvote"/>
<output wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/upvoteResponse" message="tns:upvoteResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="downvote">
<input wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/downvoteRequest" message="tns:downvote"/>
<output wsam:Action="http://service.webservice.stackexchange.org/QuestionWS/downvoteResponse" message="tns:downvoteResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upvote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downvote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8080/stack_exchange_web_services/QuestionWS"/>
</port>
</service>
</definitions>