stack_exchange_netbeans/src/conf/xml-resources/web-service-references/QuestionWS_1/wsdl/localhost_8080/stack_exchange_web_services/QuestionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.webservice.stackexchange.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.webservice.stackexchange.org/">

<xs:element name="downvote" type="tns:downvote"/>

<xs:element name="downvoteResponse" type="tns:downvoteResponse"/>

<xs:element name="getAll" type="tns:getAll"/>

<xs:element name="getAllResponse" type="tns:getAllResponse"/>

<xs:element name="getById" type="tns:getById"/>

<xs:element name="getByIdResponse" type="tns:getByIdResponse"/>

<xs:element name="insert" type="tns:insert"/>

<xs:element name="insertResponse" type="tns:insertResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:element name="upvote" type="tns:upvote"/>

<xs:element name="upvoteResponse" type="tns:upvoteResponse"/>

<xs:complexType name="upvote">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="upvoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insert">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getById">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downvote">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downvoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>