stack_exchange_web_services/web/WEB-INF/wsdl/QuestionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.webservice.stackexchange.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.webservice.stackexchange.org" xmlns:intf="http://service.webservice.stackexchange.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.webservice.stackexchange.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="title" type="xsd:string"/>
   <element name="content" type="xsd:string"/>
   <element name="token" type="xsd:string"/>
   <element name="updateReturn" type="xsd:boolean"/>
   <element name="id" type="xsd:long"/>
   <element name="token1" type="xsd:string"/>
   <element name="downvoteReturn" type="xsd:boolean"/>
   <element name="id1" type="xsd:long"/>
   <element name="token2" type="xsd:string"/>
   <element name="upvoteReturn" type="xsd:boolean"/>
   <element name="getAllQuestionReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="upvoteRequest">

      <wsdl:part element="impl:id1" name="id"/>

      <wsdl:part element="impl:token2" name="token"/>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:title" name="title"/>

      <wsdl:part element="impl:content" name="content"/>

      <wsdl:part element="impl:token" name="token"/>

   </wsdl:message>

   <wsdl:message name="upvoteResponse">

      <wsdl:part element="impl:upvoteReturn" name="upvoteReturn"/>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateReturn" name="updateReturn"/>

   </wsdl:message>

   <wsdl:message name="getAllQuestionResponse">

      <wsdl:part element="impl:getAllQuestionReturn" name="getAllQuestionReturn"/>

   </wsdl:message>

   <wsdl:message name="downvoteRequest">

      <wsdl:part element="impl:id" name="id"/>

      <wsdl:part element="impl:token1" name="token"/>

   </wsdl:message>

   <wsdl:message name="downvoteResponse">

      <wsdl:part element="impl:downvoteReturn" name="downvoteReturn"/>

   </wsdl:message>

   <wsdl:message name="getAllQuestionRequest">

   </wsdl:message>

   <wsdl:portType name="QuestionService">

      <wsdl:operation name="update" parameterOrder="title content token">

         <wsdl:input message="impl:updateRequest" name="updateRequest"/>

         <wsdl:output message="impl:updateResponse" name="updateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="downvote" parameterOrder="id token">

         <wsdl:input message="impl:downvoteRequest" name="downvoteRequest"/>

         <wsdl:output message="impl:downvoteResponse" name="downvoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="upvote" parameterOrder="id token">

         <wsdl:input message="impl:upvoteRequest" name="upvoteRequest"/>

         <wsdl:output message="impl:upvoteResponse" name="upvoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllQuestion">

         <wsdl:input message="impl:getAllQuestionRequest" name="getAllQuestionRequest"/>

         <wsdl:output message="impl:getAllQuestionResponse" name="getAllQuestionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="QuestionServiceSoapBinding" type="impl:QuestionService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="downvote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="downvoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="downvoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="upvote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="upvoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="upvoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllQuestion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllQuestionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllQuestionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="QuestionServiceService">

      <wsdl:port binding="impl:QuestionServiceSoapBinding" name="QuestionService">

         <wsdlsoap:address location="http://localhost:8080/services/QuestionService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
