StxClient/web/web/WEB-INF/wsdl/localhost_8082/StxWS/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AnsOperation/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AnsOperation/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AnsOperation/" schemaLocation="http://localhost:8082/StxWS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteAns">
<part name="parameters" element="tns:deleteAns"/>
</message>
<message name="deleteAnsResponse">
<part name="parameters" element="tns:deleteAnsResponse"/>
</message>
<message name="postAns">
<part name="parameters" element="tns:postAns"/>
</message>
<message name="postAnsResponse">
<part name="parameters" element="tns:postAnsResponse"/>
</message>
<message name="voteAns">
<part name="parameters" element="tns:voteAns"/>
</message>
<message name="voteAnsResponse">
<part name="parameters" element="tns:voteAnsResponse"/>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"/>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getAnsVote">
<part name="parameters" element="tns:getAnsVote"/>
</message>
<message name="getAnsVoteResponse">
<part name="parameters" element="tns:getAnsVoteResponse"/>
</message>
<portType name="AnswerWS">
<operation name="deleteAns">
<input wsam:Action="http://AnsOperation/AnswerWS/deleteAnsRequest" message="tns:deleteAns"/>
<output wsam:Action="http://AnsOperation/AnswerWS/deleteAnsResponse" message="tns:deleteAnsResponse"/>
</operation>
<operation name="postAns">
<input wsam:Action="http://AnsOperation/AnswerWS/postAnsRequest" message="tns:postAns"/>
<output wsam:Action="http://AnsOperation/AnswerWS/postAnsResponse" message="tns:postAnsResponse"/>
</operation>
<operation name="voteAns">
<input wsam:Action="http://AnsOperation/AnswerWS/voteAnsRequest" message="tns:voteAns"/>
<output wsam:Action="http://AnsOperation/AnswerWS/voteAnsResponse" message="tns:voteAnsResponse"/>
</operation>
<operation name="getAnswers">
<input wsam:Action="http://AnsOperation/AnswerWS/getAnswersRequest" message="tns:getAnswers"/>
<output wsam:Action="http://AnsOperation/AnswerWS/getAnswersResponse" message="tns:getAnswersResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://AnsOperation/AnswerWS/getAnswers/Fault/Exception"/>
</operation>
<operation name="getAnsVote">
<input wsam:Action="http://AnsOperation/AnswerWS/getAnsVoteRequest" message="tns:getAnsVote"/>
<output wsam:Action="http://AnsOperation/AnswerWS/getAnsVoteResponse" message="tns:getAnsVoteResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="postAns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAnsVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8082/StxWS/AnswerWS"/>
</port>
</service>
</definitions>