Frontend-WebApp/src/conf/xml-resources/web-service-references/AnswerWS/wsdl/localhost_8081/AnswerWS/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AnswerModule/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AnswerModule/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AnswerModule/" schemaLocation="http://localhost:8081/AnswerWS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="GetAllAnswer">
<part name="parameters" element="tns:GetAllAnswer"/>
</message>
<message name="GetAllAnswerResponse">
<part name="parameters" element="tns:GetAllAnswerResponse"/>
</message>
<message name="InsertAnswer">
<part name="parameters" element="tns:InsertAnswer"/>
</message>
<message name="InsertAnswerResponse">
<part name="parameters" element="tns:InsertAnswerResponse"/>
</message>
<message name="UpdateAnswer">
<part name="parameters" element="tns:UpdateAnswer"/>
</message>
<message name="UpdateAnswerResponse">
<part name="parameters" element="tns:UpdateAnswerResponse"/>
</message>
<message name="DeleteAnswer">
<part name="parameters" element="tns:DeleteAnswer"/>
</message>
<message name="DeleteAnswerResponse">
<part name="parameters" element="tns:DeleteAnswerResponse"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswerResponse">
<part name="parameters" element="tns:voteAnswerResponse"/>
</message>
<portType name="AnswerWS">
<operation name="GetAllAnswer">
<input wsam:Action="http://AnswerModule/AnswerWS/GetAllAnswerRequest" message="tns:GetAllAnswer"/>
<output wsam:Action="http://AnswerModule/AnswerWS/GetAllAnswerResponse" message="tns:GetAllAnswerResponse"/>
</operation>
<operation name="InsertAnswer">
<input wsam:Action="http://AnswerModule/AnswerWS/InsertAnswerRequest" message="tns:InsertAnswer"/>
<output wsam:Action="http://AnswerModule/AnswerWS/InsertAnswerResponse" message="tns:InsertAnswerResponse"/>
</operation>
<operation name="UpdateAnswer">
<input wsam:Action="http://AnswerModule/AnswerWS/UpdateAnswerRequest" message="tns:UpdateAnswer"/>
<output wsam:Action="http://AnswerModule/AnswerWS/UpdateAnswerResponse" message="tns:UpdateAnswerResponse"/>
</operation>
<operation name="DeleteAnswer">
<input wsam:Action="http://AnswerModule/AnswerWS/DeleteAnswerRequest" message="tns:DeleteAnswer"/>
<output wsam:Action="http://AnswerModule/AnswerWS/DeleteAnswerResponse" message="tns:DeleteAnswerResponse"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://AnswerModule/AnswerWS/voteAnswerRequest" message="tns:voteAnswer"/>
<output wsam:Action="http://AnswerModule/AnswerWS/voteAnswerResponse" message="tns:voteAnswerResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetAllAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8081/AnswerWS/AnswerWS"/>
</port>
</service>
</definitions>