Client/src/conf/xml-resources/web-service-references/StackExchangeService/wsdl/localhost_8082/StackExchangeService/StackExchangeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="StackExchangeService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8082/StackExchangeService/StackExchangeService?xsd=1"/>
</xsd:schema>
</types>
<message name="getQuestionWithoutValidation">
<part name="parameters" element="tns:getQuestionWithoutValidation"/>
</message>
<message name="getQuestionWithoutValidationResponse">
<part name="parameters" element="tns:getQuestionWithoutValidationResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getAllQuestion">
<part name="parameters" element="tns:getAllQuestion"/>
</message>
<message name="getAllQuestionResponse">
<part name="parameters" element="tns:getAllQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="editQuestion">
<part name="parameters" element="tns:editQuestion"/>
</message>
<message name="editQuestionResponse">
<part name="parameters" element="tns:editQuestionResponse"/>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"/>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"/>
</message>
<message name="createAnswer">
<part name="parameters" element="tns:createAnswer"/>
</message>
<message name="createAnswerResponse">
<part name="parameters" element="tns:createAnswerResponse"/>
</message>
<message name="voteQuestion">
<part name="parameters" element="tns:voteQuestion"/>
</message>
<message name="voteQuestionResponse">
<part name="parameters" element="tns:voteQuestionResponse"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswerResponse">
<part name="parameters" element="tns:voteAnswerResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="createQuestion">
<part name="parameters" element="tns:createQuestion"/>
</message>
<message name="createQuestionResponse">
<part name="parameters" element="tns:createQuestionResponse"/>
</message>
<portType name="StackExchangeService">
<operation name="getQuestionWithoutValidation">
<input wsam:Action="http://service/StackExchangeService/getQuestionWithoutValidationRequest" message="tns:getQuestionWithoutValidation"/>
<output wsam:Action="http://service/StackExchangeService/getQuestionWithoutValidationResponse" message="tns:getQuestionWithoutValidationResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/getQuestionWithoutValidation/Fault/Exception"/>
</operation>
<operation name="getAllQuestion">
<input wsam:Action="http://service/StackExchangeService/getAllQuestionRequest" message="tns:getAllQuestion"/>
<output wsam:Action="http://service/StackExchangeService/getAllQuestionResponse" message="tns:getAllQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/getAllQuestion/Fault/Exception"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://service/StackExchangeService/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://service/StackExchangeService/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/deleteQuestion/Fault/Exception"/>
</operation>
<operation name="editQuestion">
<input wsam:Action="http://service/StackExchangeService/editQuestionRequest" message="tns:editQuestion"/>
<output wsam:Action="http://service/StackExchangeService/editQuestionResponse" message="tns:editQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/editQuestion/Fault/Exception"/>
</operation>
<operation name="getQuestion">
<input wsam:Action="http://service/StackExchangeService/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://service/StackExchangeService/getQuestionResponse" message="tns:getQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/getQuestion/Fault/Exception"/>
</operation>
<operation name="getAnswers">
<input wsam:Action="http://service/StackExchangeService/getAnswersRequest" message="tns:getAnswers"/>
<output wsam:Action="http://service/StackExchangeService/getAnswersResponse" message="tns:getAnswersResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/getAnswers/Fault/Exception"/>
</operation>
<operation name="createAnswer">
<input wsam:Action="http://service/StackExchangeService/createAnswerRequest" message="tns:createAnswer"/>
<output wsam:Action="http://service/StackExchangeService/createAnswerResponse" message="tns:createAnswerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/createAnswer/Fault/Exception"/>
</operation>
<operation name="voteQuestion">
<input wsam:Action="http://service/StackExchangeService/voteQuestionRequest" message="tns:voteQuestion"/>
<output wsam:Action="http://service/StackExchangeService/voteQuestionResponse" message="tns:voteQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/voteQuestion/Fault/Exception"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://service/StackExchangeService/voteAnswerRequest" message="tns:voteAnswer"/>
<output wsam:Action="http://service/StackExchangeService/voteAnswerResponse" message="tns:voteAnswerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/voteAnswer/Fault/Exception"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://service/StackExchangeService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://service/StackExchangeService/registerUserResponse" message="tns:registerUserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/registerUser/Fault/Exception"/>
</operation>
<operation name="createQuestion">
<input wsam:Action="http://service/StackExchangeService/createQuestionRequest" message="tns:createQuestion"/>
<output wsam:Action="http://service/StackExchangeService/createQuestionResponse" message="tns:createQuestionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/StackExchangeService/createQuestion/Fault/Exception"/>
</operation>
</portType>
<binding name="StackExchangeServicePortBinding" type="tns:StackExchangeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getQuestionWithoutValidation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAllQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="voteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="StackExchangeService">
<port name="StackExchangeServicePort" binding="tns:StackExchangeServicePortBinding">
<soap:address location="http://localhost:8082/StackExchangeService/StackExchangeService"/>
</port>
</service>
</definitions>