StackExchange Client/web/WEB-INF/wsdl/localhost_8080/StackExchange_WebService/QuestionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://controllers/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controllers/">

<xs:element name="Question" type="tns:question"/>

<xs:element name="getAllQuestions" type="tns:getAllQuestions"/>

<xs:element name="getAllQuestionsResponse" type="tns:getAllQuestionsResponse"/>

<xs:element name="getQuestionById" type="tns:getQuestionById"/>

<xs:element name="getQuestionByIdResponse" type="tns:getQuestionByIdResponse"/>

<xs:complexType name="getQuestionById">
<xs:sequence>
<xs:element name="q_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionByIdResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="q_id" type="xs:int"/>
<xs:element name="u_id" type="xs:int"/>
<xs:element name="topic" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="vote" type="xs:int"/>
<xs:element name="date_created" type="xs:string"/>
<xs:element name="date_edited" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllQuestions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllQuestionsResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>