Stack Exchange Client/src/conf/xml-resources/web-service-references/UserWS/wsdl/localhost_8083/Stack_Exchange_WS/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://user_package.dazzlesquad.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://user_package.dazzlesquad.com/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://user_package.dazzlesquad.com/" schemaLocation="http://localhost:8083/Stack_Exchange_WS/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserByToken">
<part name="parameters" element="tns:getUserByToken"/>
</message>
<message name="getUserByTokenResponse">
<part name="parameters" element="tns:getUserByTokenResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<portType name="UserWS">
<operation name="getUserByToken">
<input wsam:Action="http://user_package.dazzlesquad.com/UserWS/getUserByTokenRequest" message="tns:getUserByToken"/>
<output wsam:Action="http://user_package.dazzlesquad.com/UserWS/getUserByTokenResponse" message="tns:getUserByTokenResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://user_package.dazzlesquad.com/UserWS/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://user_package.dazzlesquad.com/UserWS/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://user_package.dazzlesquad.com/UserWS/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://user_package.dazzlesquad.com/UserWS/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserByToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8083/Stack_Exchange_WS/UserWS"/>
</port>
</service>
</definitions>