Frontend WebApp/src/conf/xml-resources/web-service-references/AnswerWS/wsdl/localhost_8081/Stackexchange_WS/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AnswerModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AnswerModel/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AnswerModel/" schemaLocation="http://localhost:8081/Stackexchange_WS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"/>
</message>
<message name="addAnswerResponse">
<part name="parameters" element="tns:addAnswerResponse"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswerResponse">
<part name="parameters" element="tns:voteAnswerResponse"/>
</message>
<message name="getAnswerByQId">
<part name="parameters" element="tns:getAnswerByQId"/>
</message>
<message name="getAnswerByQIdResponse">
<part name="parameters" element="tns:getAnswerByQIdResponse"/>
</message>
<message name="getCountAnswerByQId">
<part name="parameters" element="tns:getCountAnswerByQId"/>
</message>
<message name="getCountAnswerByQIdResponse">
<part name="parameters" element="tns:getCountAnswerByQIdResponse"/>
</message>
<portType name="AnswerWS">
<operation name="addAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/addAnswerRequest" message="tns:addAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/addAnswerResponse" message="tns:addAnswerResponse"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/voteAnswerRequest" message="tns:voteAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/voteAnswerResponse" message="tns:voteAnswerResponse"/>
</operation>
<operation name="getAnswerByQId">
<input wsam:Action="http://AnswerModel/AnswerWS/getAnswerByQIdRequest" message="tns:getAnswerByQId"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getAnswerByQIdResponse" message="tns:getAnswerByQIdResponse"/>
</operation>
<operation name="getCountAnswerByQId">
<input wsam:Action="http://AnswerModel/AnswerWS/getCountAnswerByQIdRequest" message="tns:getCountAnswerByQId"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getCountAnswerByQIdResponse" message="tns:getCountAnswerByQIdResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerByQId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountAnswerByQId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8081/Stackexchange_WS/AnswerWS"/>
</port>
</service>
</definitions>