StackExchange/StackExchangeWS/web/WEB-INF/wsdl/StackExchangeWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://StackExchangeWS/" name="StackExchangeWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://StackExchangeWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://StackExchangeWS/" schemaLocation="StackExchangeWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="register">
    <part name="parameters" element="tns:register"/>
  </message>
  <message name="registerResponse">
    <part name="parameters" element="tns:registerResponse"/>
  </message>
  <message name="getAnswer">
    <part name="parameters" element="tns:getAnswer"/>
  </message>
  <message name="getAnswerResponse">
    <part name="parameters" element="tns:getAnswerResponse"/>
  </message>
  <message name="insertQuestion">
    <part name="parameters" element="tns:insertQuestion"/>
  </message>
  <message name="updateQuestion">
    <part name="parameters" element="tns:updateQuestion"/>
  </message>
  <message name="insertAnswer">
    <part name="parameters" element="tns:insertAnswer"/>
  </message>
  <message name="deleteQuestion">
    <part name="parameters" element="tns:deleteQuestion"/>
  </message>
  <message name="getQuestion">
    <part name="parameters" element="tns:getQuestion"/>
  </message>
  <message name="getQuestionResponse">
    <part name="parameters" element="tns:getQuestionResponse"/>
  </message>
  <message name="voteDownQuestion">
    <part name="parameters" element="tns:voteDownQuestion"/>
  </message>
  <message name="voteDownAnswer">
    <part name="parameters" element="tns:voteDownAnswer"/>
  </message>
  <message name="checkToken">
    <part name="parameters" element="tns:checkToken"/>
  </message>
  <message name="checkTokenResponse">
    <part name="parameters" element="tns:checkTokenResponse"/>
  </message>
  <message name="voteUpQuestion">
    <part name="parameters" element="tns:voteUpQuestion"/>
  </message>
  <message name="getIdByToken">
    <part name="parameters" element="tns:getIdByToken"/>
  </message>
  <message name="getIdByTokenResponse">
    <part name="parameters" element="tns:getIdByTokenResponse"/>
  </message>
  <message name="getNameById">
    <part name="parameters" element="tns:getNameById"/>
  </message>
  <message name="getNameByIdResponse">
    <part name="parameters" element="tns:getNameByIdResponse"/>
  </message>
  <message name="voteUpAnswer">
    <part name="parameters" element="tns:voteUpAnswer"/>
  </message>
  <message name="getRecentQuestions">
    <part name="parameters" element="tns:getRecentQuestions"/>
  </message>
  <message name="getRecentQuestionsResponse">
    <part name="parameters" element="tns:getRecentQuestionsResponse"/>
  </message>
  <portType name="StackExchangeWS">
    <operation name="register">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/registerRequest" message="tns:register"/>
      <output wsam:Action="http://StackExchangeWS/StackExchangeWS/registerResponse" message="tns:registerResponse"/>
    </operation>
    <operation name="getAnswer">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/getAnswerRequest" message="tns:getAnswer"/>
      <output wsam:Action="http://StackExchangeWS/StackExchangeWS/getAnswerResponse" message="tns:getAnswerResponse"/>
    </operation>
    <operation name="insertQuestion">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/insertQuestion" message="tns:insertQuestion"/>
    </operation>
    <operation name="updateQuestion">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/updateQuestion" message="tns:updateQuestion"/>
    </operation>
    <operation name="insertAnswer">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/insertAnswer" message="tns:insertAnswer"/>
    </operation>
    <operation name="deleteQuestion">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/deleteQuestion" message="tns:deleteQuestion"/>
    </operation>
    <operation name="getQuestion">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/getQuestionRequest" message="tns:getQuestion"/>
      <output wsam:Action="http://StackExchangeWS/StackExchangeWS/getQuestionResponse" message="tns:getQuestionResponse"/>
    </operation>
    <operation name="voteDownQuestion">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/voteDownQuestion" message="tns:voteDownQuestion"/>
    </operation>
    <operation name="voteDownAnswer">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/voteDownAnswer" message="tns:voteDownAnswer"/>
    </operation>
    <operation name="checkToken">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/checkTokenRequest" message="tns:checkToken"/>
      <output wsam:Action="http://StackExchangeWS/StackExchangeWS/checkTokenResponse" message="tns:checkTokenResponse"/>
    </operation>
    <operation name="voteUpQuestion">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/voteUpQuestion" message="tns:voteUpQuestion"/>
    </operation>
    <operation name="getIdByToken">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/getIdByTokenRequest" message="tns:getIdByToken"/>
      <output wsam:Action="http://StackExchangeWS/StackExchangeWS/getIdByTokenResponse" message="tns:getIdByTokenResponse"/>
    </operation>
    <operation name="getNameById">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/getNameByIdRequest" message="tns:getNameById"/>
      <output wsam:Action="http://StackExchangeWS/StackExchangeWS/getNameByIdResponse" message="tns:getNameByIdResponse"/>
    </operation>
    <operation name="voteUpAnswer">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/voteUpAnswer" message="tns:voteUpAnswer"/>
    </operation>
    <operation name="getRecentQuestions">
      <input wsam:Action="http://StackExchangeWS/StackExchangeWS/getRecentQuestionsRequest" message="tns:getRecentQuestions"/>
      <output wsam:Action="http://StackExchangeWS/StackExchangeWS/getRecentQuestionsResponse" message="tns:getRecentQuestionsResponse"/>
    </operation>
  </portType>
  <binding name="StackExchangeWSPortBinding" type="tns:StackExchangeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="updateQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="insertAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="deleteQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="voteDownQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="voteDownAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="checkToken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="voteUpQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getIdByToken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getNameById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="voteUpAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getRecentQuestions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StackExchangeWS">
    <port name="StackExchangeWSPort" binding="tns:StackExchangeWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

