FrontEnd/src/conf/xml-resources/web-service-references/AnswerWS/wsdl/localhost_8002/WS/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://AnswerModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://AnswerModel/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="InsertAnswer" type="tns:InsertAnswer"/>

<xs:element name="InsertAnswerResponse" type="tns:InsertAnswerResponse"/>

<xs:element name="downAnswer" type="tns:downAnswer"/>

<xs:element name="downAnswerResponse" type="tns:downAnswerResponse"/>

<xs:element name="getAnswerbyQID" type="tns:getAnswerbyQID"/>

<xs:element name="getAnswerbyQIDResponse" type="tns:getAnswerbyQIDResponse"/>

<xs:element name="upAnswer" type="tns:upAnswer"/>

<xs:element name="upAnswerResponse" type="tns:upAnswerResponse"/>

<xs:complexType name="getAnswerbyQID">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerbyQIDResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="AnswerID" type="xs:int"/>
<xs:element name="QuestionID" type="xs:int"/>
<xs:element name="Votes" type="xs:int"/>
<xs:element name="Answer" type="xs:string"/>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Email" type="xs:string"/>
<xs:element name="Datetime" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertAnswer">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertAnswerResponse">
<xs:sequence>
<xs:element name="Answer" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downAnswer">
<xs:sequence>
<xs:element name="AnsId" type="xs:int"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downAnswerResponse">
<xs:sequence>
<xs:element name="Answer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="upAnswer">
<xs:sequence>
<xs:element name="AnsId" type="xs:int"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="upAnswerResponse">
<xs:sequence>
<xs:element name="Answer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>