StackExchangeClient/src/conf/xml-resources/web-service-references/QuestionHandler/wsdl/localhost_8080/StackExchangeWS/QuestionHandler.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.stackExchangeWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.stackExchangeWS/">

<xs:element name="SQLException" type="tns:SQLException"/>

<xs:element name="askQuestion" type="tns:askQuestion"/>

<xs:element name="askQuestionResponse" type="tns:askQuestionResponse"/>

<xs:element name="countVotes" type="tns:countVotes"/>

<xs:element name="countVotesResponse" type="tns:countVotesResponse"/>

<xs:element name="deleteQuestion" type="tns:deleteQuestion"/>

<xs:element name="deleteQuestionResponse" type="tns:deleteQuestionResponse"/>

<xs:element name="editQuestion" type="tns:editQuestion"/>

<xs:element name="editQuestionResponse" type="tns:editQuestionResponse"/>

<xs:element name="getAllQuestions" type="tns:getAllQuestions"/>

<xs:element name="getAllQuestionsResponse" type="tns:getAllQuestionsResponse"/>

<xs:element name="getQuestion" type="tns:getQuestion"/>

<xs:element name="getQuestionResponse" type="tns:getQuestionResponse"/>

<xs:element name="votesDownQuestion" type="tns:votesDownQuestion"/>

<xs:element name="votesDownQuestionResponse" type="tns:votesDownQuestionResponse"/>

<xs:element name="votesUpQuestion" type="tns:votesUpQuestion"/>

<xs:element name="votesUpQuestionResponse" type="tns:votesUpQuestionResponse"/>

<xs:complexType name="editQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:int"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SQLException">
<xs:sequence>
<xs:element name="SQLState" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sqlException">
<xs:complexContent>
<xs:extension base="tns:exception">
<xs:sequence>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="exception">
<xs:complexContent>
<xs:extension base="tns:throwable">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="answers" type="xs:int"/>
<xs:element name="askerEmail" type="xs:string" minOccurs="0"/>
<xs:element name="askerId" type="xs:int"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="countAnswers" type="xs:int"/>
<xs:element name="questionId" type="xs:int"/>
<xs:element name="time" type="xs:string" minOccurs="0"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="votes" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="askQuestion">
<xs:sequence>
<xs:element name="askerId" type="xs:int"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="askQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllQuestions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllQuestionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="votesUpQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:int"/>
<xs:element name="voter" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="votesUpQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="votesDownQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:int"/>
<xs:element name="voter" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="votesDownQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countVotes">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countVotesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>