StackExch_Client/src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/WebService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="deleteToken">
<part name="parameters" element="tns:deleteToken"/>
</message>
<message name="deleteTokenResponse">
<part name="parameters" element="tns:deleteTokenResponse"/>
</message>
<message name="getTokenOwner">
<part name="parameters" element="tns:getTokenOwner"/>
</message>
<message name="getTokenOwnerResponse">
<part name="parameters" element="tns:getTokenOwnerResponse"/>
</message>
<message name="statusToken">
<part name="parameters" element="tns:statusToken"/>
</message>
<message name="statusTokenResponse">
<part name="parameters" element="tns:statusTokenResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"/>
</message>
<message name="addAnswerResponse">
<part name="parameters" element="tns:addAnswerResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"/>
</message>
<message name="addQuestionResponse">
<part name="parameters" element="tns:addQuestionResponse"/>
</message>
<message name="getQuestions">
<part name="parameters" element="tns:getQuestions"/>
</message>
<message name="getQuestionsResponse">
<part name="parameters" element="tns:getQuestionsResponse"/>
</message>
<message name="countAnswer">
<part name="parameters" element="tns:countAnswer"/>
</message>
<message name="countAnswerResponse">
<part name="parameters" element="tns:countAnswerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAllAnswers">
<part name="parameters" element="tns:getAllAnswers"/>
</message>
<message name="getAllAnswersResponse">
<part name="parameters" element="tns:getAllAnswersResponse"/>
</message>
<message name="searchQuestion">
<part name="parameters" element="tns:searchQuestion"/>
</message>
<message name="searchQuestionResponse">
<part name="parameters" element="tns:searchQuestionResponse"/>
</message>
<message name="getVote">
<part name="parameters" element="tns:getVote"/>
</message>
<message name="getVoteResponse">
<part name="parameters" element="tns:getVoteResponse"/>
</message>
<message name="getAllQuestions">
<part name="parameters" element="tns:getAllQuestions"/>
</message>
<message name="getAllQuestionsResponse">
<part name="parameters" element="tns:getAllQuestionsResponse"/>
</message>
<message name="changeVote">
<part name="parameters" element="tns:changeVote"/>
</message>
<message name="changeVoteResponse">
<part name="parameters" element="tns:changeVoteResponse"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"/>
</message>
<message name="getAllComment">
<part name="parameters" element="tns:getAllComment"/>
</message>
<message name="getAllCommentResponse">
<part name="parameters" element="tns:getAllCommentResponse"/>
</message>
<portType name="StackWebSevice">
<operation name="register">
<input wsam:Action="http://WebService/StackWebSevice/registerRequest" message="tns:register"/>
<output wsam:Action="http://WebService/StackWebSevice/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="deleteToken">
<input wsam:Action="http://WebService/StackWebSevice/deleteTokenRequest" message="tns:deleteToken"/>
<output wsam:Action="http://WebService/StackWebSevice/deleteTokenResponse" message="tns:deleteTokenResponse"/>
</operation>
<operation name="getTokenOwner">
<input wsam:Action="http://WebService/StackWebSevice/getTokenOwnerRequest" message="tns:getTokenOwner"/>
<output wsam:Action="http://WebService/StackWebSevice/getTokenOwnerResponse" message="tns:getTokenOwnerResponse"/>
</operation>
<operation name="statusToken">
<input wsam:Action="http://WebService/StackWebSevice/statusTokenRequest" message="tns:statusToken"/>
<output wsam:Action="http://WebService/StackWebSevice/statusTokenResponse" message="tns:statusTokenResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://WebService/StackWebSevice/statusToken/Fault/ParseException"/>
</operation>
<operation name="addAnswer">
<input wsam:Action="http://WebService/StackWebSevice/addAnswerRequest" message="tns:addAnswer"/>
<output wsam:Action="http://WebService/StackWebSevice/addAnswerResponse" message="tns:addAnswerResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://WebService/StackWebSevice/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://WebService/StackWebSevice/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="addQuestion">
<input wsam:Action="http://WebService/StackWebSevice/addQuestionRequest" message="tns:addQuestion"/>
<output wsam:Action="http://WebService/StackWebSevice/addQuestionResponse" message="tns:addQuestionResponse"/>
</operation>
<operation name="getQuestions">
<input wsam:Action="http://WebService/StackWebSevice/getQuestionsRequest" message="tns:getQuestions"/>
<output wsam:Action="http://WebService/StackWebSevice/getQuestionsResponse" message="tns:getQuestionsResponse"/>
</operation>
<operation name="countAnswer">
<input wsam:Action="http://WebService/StackWebSevice/countAnswerRequest" message="tns:countAnswer"/>
<output wsam:Action="http://WebService/StackWebSevice/countAnswerResponse" message="tns:countAnswerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WebService/StackWebSevice/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebService/StackWebSevice/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAllAnswers">
<input wsam:Action="http://WebService/StackWebSevice/getAllAnswersRequest" message="tns:getAllAnswers"/>
<output wsam:Action="http://WebService/StackWebSevice/getAllAnswersResponse" message="tns:getAllAnswersResponse"/>
</operation>
<operation name="searchQuestion">
<input wsam:Action="http://WebService/StackWebSevice/searchQuestionRequest" message="tns:searchQuestion"/>
<output wsam:Action="http://WebService/StackWebSevice/searchQuestionResponse" message="tns:searchQuestionResponse"/>
</operation>
<operation name="getVote">
<input wsam:Action="http://WebService/StackWebSevice/getVoteRequest" message="tns:getVote"/>
<output wsam:Action="http://WebService/StackWebSevice/getVoteResponse" message="tns:getVoteResponse"/>
</operation>
<operation name="getAllQuestions">
<input wsam:Action="http://WebService/StackWebSevice/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://WebService/StackWebSevice/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
</operation>
<operation name="changeVote">
<input wsam:Action="http://WebService/StackWebSevice/changeVoteRequest" message="tns:changeVote"/>
<output wsam:Action="http://WebService/StackWebSevice/changeVoteResponse" message="tns:changeVoteResponse"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://WebService/StackWebSevice/updateQuestionRequest" message="tns:updateQuestion"/>
<output wsam:Action="http://WebService/StackWebSevice/updateQuestionResponse" message="tns:updateQuestionResponse"/>
</operation>
<operation name="getAllComment">
<input wsam:Action="http://WebService/StackWebSevice/getAllCommentRequest" message="tns:getAllComment"/>
<output wsam:Action="http://WebService/StackWebSevice/getAllCommentResponse" message="tns:getAllCommentResponse"/>
</operation>
</portType>
<binding name="StackWebSevicePortBinding" type="tns:StackWebSevice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTokenOwner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="statusToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="addAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="StackWebSevicePort" binding="tns:StackWebSevicePortBinding">
<soap:address location="http://localhost:8080/WebService/NewWebService"/>
</port>
</service>
</definitions>