stack_exchange_netbeans/src/conf/xml-resources/web-service-references/AnswerWS_1/wsdl/localhost_8080/stack_exchange_web_services/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.stackexchange.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.webservice.stackexchange.org/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.webservice.stackexchange.org/" schemaLocation="http://localhost:8080/stack_exchange_web_services/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="upvoteAnswer">
<part name="parameters" element="tns:upvoteAnswer"/>
</message>
<message name="upvoteAnswerResponse">
<part name="parameters" element="tns:upvoteAnswerResponse"/>
</message>
<message name="downvoteAnswer">
<part name="parameters" element="tns:downvoteAnswer"/>
</message>
<message name="downvoteAnswerResponse">
<part name="parameters" element="tns:downvoteAnswerResponse"/>
</message>
<message name="getByQuestionId">
<part name="parameters" element="tns:getByQuestionId"/>
</message>
<message name="getByQuestionIdResponse">
<part name="parameters" element="tns:getByQuestionIdResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertAnswer">
<part name="parameters" element="tns:insertAnswer"/>
</message>
<message name="insertAnswerResponse">
<part name="parameters" element="tns:insertAnswerResponse"/>
</message>
<portType name="AnswerWS">
<operation name="upvoteAnswer">
<input wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/upvoteAnswerRequest" message="tns:upvoteAnswer"/>
<output wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/upvoteAnswerResponse" message="tns:upvoteAnswerResponse"/>
</operation>
<operation name="downvoteAnswer">
<input wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/downvoteAnswerRequest" message="tns:downvoteAnswer"/>
<output wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/downvoteAnswerResponse" message="tns:downvoteAnswerResponse"/>
</operation>
<operation name="getByQuestionId">
<input wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/getByQuestionIdRequest" message="tns:getByQuestionId"/>
<output wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/getByQuestionIdResponse" message="tns:getByQuestionIdResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertAnswer">
<input wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/insertAnswerRequest" message="tns:insertAnswer"/>
<output wsam:Action="http://service.webservice.stackexchange.org/AnswerWS/insertAnswerResponse" message="tns:insertAnswerResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="upvoteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downvoteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByQuestionId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8080/stack_exchange_web_services/AnswerWS"/>
</port>
</service>
</definitions>