Stack Exchange Client/src/META-INF/AnswerWS.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://answer_package.dazzlesquad.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://answer_package.dazzlesquad.com/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://answer_package.dazzlesquad.com/" schemaLocation="http://localhost:8081/Stack_Exchange_WS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="insertAnswer">
<part name="parameters" element="tns:insertAnswer"/>
</message>
<message name="insertAnswerResponse">
<part name="parameters" element="tns:insertAnswerResponse"/>
</message>
<message name="deleteAnswer">
<part name="parameters" element="tns:deleteAnswer"/>
</message>
<message name="deleteAnswerResponse">
<part name="parameters" element="tns:deleteAnswerResponse"/>
</message>
<message name="getAnswerById">
<part name="parameters" element="tns:getAnswerById"/>
</message>
<message name="getAnswerByIdResponse">
<part name="parameters" element="tns:getAnswerByIdResponse"/>
</message>
<portType name="AnswerWS">
<operation name="insertAnswer">
<input wsam:Action="http://answer_package.dazzlesquad.com/AnswerWS/insertAnswerRequest" message="tns:insertAnswer"/>
<output wsam:Action="http://answer_package.dazzlesquad.com/AnswerWS/insertAnswerResponse" message="tns:insertAnswerResponse"/>
</operation>
<operation name="deleteAnswer">
<input wsam:Action="http://answer_package.dazzlesquad.com/AnswerWS/deleteAnswerRequest" message="tns:deleteAnswer"/>
<output wsam:Action="http://answer_package.dazzlesquad.com/AnswerWS/deleteAnswerResponse" message="tns:deleteAnswerResponse"/>
</operation>
<operation name="getAnswerById">
<input wsam:Action="http://answer_package.dazzlesquad.com/AnswerWS/getAnswerByIdRequest" message="tns:getAnswerById"/>
<output wsam:Action="http://answer_package.dazzlesquad.com/AnswerWS/getAnswerByIdResponse" message="tns:getAnswerByIdResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8081/Stack_Exchange_WS/AnswerWS"/>
</port>
</service>
</definitions>