Stack Exchange Client/src/META-INF/QuestionWS.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://question_package.dazzlesquad.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://question_package.dazzlesquad.com/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://question_package.dazzlesquad.com/" schemaLocation="http://localhost:8081/Stack_Exchange_WS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="insertQuestion">
<part name="parameters" element="tns:insertQuestion"/>
</message>
<message name="insertQuestionResponse">
<part name="parameters" element="tns:insertQuestionResponse"/>
</message>
<message name="getAnswerByQuestionId">
<part name="parameters" element="tns:getAnswerByQuestionId"/>
</message>
<message name="getAnswerByQuestionIdResponse">
<part name="parameters" element="tns:getAnswerByQuestionIdResponse"/>
</message>
<message name="getQuestionById">
<part name="parameters" element="tns:getQuestionById"/>
</message>
<message name="getQuestionByIdResponse">
<part name="parameters" element="tns:getQuestionByIdResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="showAllQuestion">
<part name="parameters" element="tns:showAllQuestion"/>
</message>
<message name="showAllQuestionResponse">
<part name="parameters" element="tns:showAllQuestionResponse"/>
</message>
<message name="editQuestion">
<part name="parameters" element="tns:editQuestion"/>
</message>
<message name="editQuestionResponse">
<part name="parameters" element="tns:editQuestionResponse"/>
</message>
<message name="countAnswer">
<part name="parameters" element="tns:countAnswer"/>
</message>
<message name="countAnswerResponse">
<part name="parameters" element="tns:countAnswerResponse"/>
</message>
<portType name="QuestionWS">
<operation name="deleteQuestion">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="insertQuestion">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/insertQuestionRequest" message="tns:insertQuestion"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/insertQuestionResponse" message="tns:insertQuestionResponse"/>
</operation>
<operation name="getAnswerByQuestionId">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/getAnswerByQuestionIdRequest" message="tns:getAnswerByQuestionId"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/getAnswerByQuestionIdResponse" message="tns:getAnswerByQuestionIdResponse"/>
</operation>
<operation name="getQuestionById">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/getQuestionByIdRequest" message="tns:getQuestionById"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/getQuestionByIdResponse" message="tns:getQuestionByIdResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="showAllQuestion">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/showAllQuestionRequest" message="tns:showAllQuestion"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/showAllQuestionResponse" message="tns:showAllQuestionResponse"/>
</operation>
<operation name="editQuestion">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/editQuestionRequest" message="tns:editQuestion"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/editQuestionResponse" message="tns:editQuestionResponse"/>
</operation>
<operation name="countAnswer">
<input wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/countAnswerRequest" message="tns:countAnswer"/>
<output wsam:Action="http://question_package.dazzlesquad.com/QuestionWS/countAnswerResponse" message="tns:countAnswerResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerByQuestionId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8081/Stack_Exchange_WS/QuestionWS"/>
</port>
</service>
</definitions>