StackExchangeClient/web/WEB-INF/wsdl/localhost_8080/StackExchangeWS/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ans.wbd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ans.wbd.com/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ans.wbd.com/" schemaLocation="http://localhost:8080/StackExchangeWS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAnswerByQID">
<part name="parameters" element="tns:getAnswerByQID"/>
</message>
<message name="getAnswerByQIDResponse">
<part name="parameters" element="tns:getAnswerByQIDResponse"/>
</message>
<message name="voteDown">
<part name="parameters" element="tns:voteDown"/>
</message>
<message name="voteDownResponse">
<part name="parameters" element="tns:voteDownResponse"/>
</message>
<message name="voteUp">
<part name="parameters" element="tns:voteUp"/>
</message>
<message name="voteUpResponse">
<part name="parameters" element="tns:voteUpResponse"/>
</message>
<message name="getNamaAns">
<part name="parameters" element="tns:getNamaAns"/>
</message>
<message name="getNamaAnsResponse">
<part name="parameters" element="tns:getNamaAnsResponse"/>
</message>
<message name="createAns">
<part name="parameters" element="tns:createAns"/>
</message>
<message name="createAnsResponse">
<part name="parameters" element="tns:createAnsResponse"/>
</message>
<portType name="AnswerWS">
<operation name="getAnswerByQID">
<input wsam:Action="http://ans.wbd.com/AnswerWS/getAnswerByQIDRequest" message="tns:getAnswerByQID"/>
<output wsam:Action="http://ans.wbd.com/AnswerWS/getAnswerByQIDResponse" message="tns:getAnswerByQIDResponse"/>
</operation>
<operation name="voteDown">
<input wsam:Action="http://ans.wbd.com/AnswerWS/voteDownRequest" message="tns:voteDown"/>
<output wsam:Action="http://ans.wbd.com/AnswerWS/voteDownResponse" message="tns:voteDownResponse"/>
</operation>
<operation name="voteUp">
<input wsam:Action="http://ans.wbd.com/AnswerWS/voteUpRequest" message="tns:voteUp"/>
<output wsam:Action="http://ans.wbd.com/AnswerWS/voteUpResponse" message="tns:voteUpResponse"/>
</operation>
<operation name="getNamaAns">
<input wsam:Action="http://ans.wbd.com/AnswerWS/getNamaAnsRequest" message="tns:getNamaAns"/>
<output wsam:Action="http://ans.wbd.com/AnswerWS/getNamaAnsResponse" message="tns:getNamaAnsResponse"/>
</operation>
<operation name="createAns">
<input wsam:Action="http://ans.wbd.com/AnswerWS/createAnsRequest" message="tns:createAns"/>
<output wsam:Action="http://ans.wbd.com/AnswerWS/createAnsResponse" message="tns:createAnsResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAnswerByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNamaAns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8080/StackExchangeWS/AnswerWS"/>
</port>
</service>
</definitions>