StackExchangeClient/web/WEB-INF/wsdl/localhost_8080/StackExchangeWS/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ans.wbd.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ans.wbd.com/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="createAns" type="tns:createAns"/>

<xs:element name="createAnsResponse" type="tns:createAnsResponse"/>

<xs:element name="getAnswerByQID" type="tns:getAnswerByQID"/>

<xs:element name="getAnswerByQIDResponse" type="tns:getAnswerByQIDResponse"/>

<xs:element name="getNamaAns" type="tns:getNamaAns"/>

<xs:element name="getNamaAnsResponse" type="tns:getNamaAnsResponse"/>

<xs:element name="voteDown" type="tns:voteDown"/>

<xs:element name="voteDownResponse" type="tns:voteDownResponse"/>

<xs:element name="voteUp" type="tns:voteUp"/>

<xs:element name="voteUpResponse" type="tns:voteUpResponse"/>

<xs:complexType name="createAns">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="qid" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAnsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNamaAns">
<xs:sequence>
<xs:element name="idans" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNamaAnsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteUp">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="ansid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQID">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQIDResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="IDAns" type="xs:int"/>
<xs:element name="IDQ" type="xs:int"/>
<xs:element name="IDUser" type="xs:int"/>
<xs:element name="Answer" type="xs:string"/>
<xs:element name="Vote" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteDown">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="ansid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voteDownResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>