StackExchangeClient/web/WEB-INF/wsdl/localhost_8080/StackExchangeWS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://qst.wbd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://qst.wbd.com/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://qst.wbd.com/" schemaLocation="http://localhost:8080/StackExchangeWS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createQ">
<part name="parameters" element="tns:createQ"/>
</message>
<message name="createQResponse">
<part name="parameters" element="tns:createQResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="updateQ">
<part name="parameters" element="tns:updateQ"/>
</message>
<message name="updateQResponse">
<part name="parameters" element="tns:updateQResponse"/>
</message>
<message name="searchQ">
<part name="parameters" element="tns:searchQ"/>
</message>
<message name="searchQResponse">
<part name="parameters" element="tns:searchQResponse"/>
</message>
<message name="voteDown">
<part name="parameters" element="tns:voteDown"/>
</message>
<message name="voteDownResponse">
<part name="parameters" element="tns:voteDownResponse"/>
</message>
<message name="voteUp">
<part name="parameters" element="tns:voteUp"/>
</message>
<message name="voteUpResponse">
<part name="parameters" element="tns:voteUpResponse"/>
</message>
<message name="getNama">
<part name="parameters" element="tns:getNama"/>
</message>
<message name="getNamaResponse">
<part name="parameters" element="tns:getNamaResponse"/>
</message>
<message name="deleteQ">
<part name="parameters" element="tns:deleteQ"/>
</message>
<message name="deleteQResponse">
<part name="parameters" element="tns:deleteQResponse"/>
</message>
<message name="retrieveQ">
<part name="parameters" element="tns:retrieveQ"/>
</message>
<message name="retrieveQResponse">
<part name="parameters" element="tns:retrieveQResponse"/>
</message>
<message name="getQuestionbyID">
<part name="parameters" element="tns:getQuestionbyID"/>
</message>
<message name="getQuestionbyIDResponse">
<part name="parameters" element="tns:getQuestionbyIDResponse"/>
</message>
<portType name="QuestionWS">
<operation name="createQ">
<input wsam:Action="http://qst.wbd.com/QuestionWS/createQRequest" message="tns:createQ"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/createQResponse" message="tns:createQResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://qst.wbd.com/QuestionWS/createQ/Fault/ParseException"/>
</operation>
<operation name="updateQ">
<input wsam:Action="http://qst.wbd.com/QuestionWS/updateQRequest" message="tns:updateQ"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/updateQResponse" message="tns:updateQResponse"/>
</operation>
<operation name="searchQ">
<input wsam:Action="http://qst.wbd.com/QuestionWS/searchQRequest" message="tns:searchQ"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/searchQResponse" message="tns:searchQResponse"/>
</operation>
<operation name="voteDown">
<input wsam:Action="http://qst.wbd.com/QuestionWS/voteDownRequest" message="tns:voteDown"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/voteDownResponse" message="tns:voteDownResponse"/>
</operation>
<operation name="voteUp">
<input wsam:Action="http://qst.wbd.com/QuestionWS/voteUpRequest" message="tns:voteUp"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/voteUpResponse" message="tns:voteUpResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://qst.wbd.com/QuestionWS/voteUp/Fault/ParseException"/>
</operation>
<operation name="getNama">
<input wsam:Action="http://qst.wbd.com/QuestionWS/getNamaRequest" message="tns:getNama"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/getNamaResponse" message="tns:getNamaResponse"/>
</operation>
<operation name="deleteQ">
<input wsam:Action="http://qst.wbd.com/QuestionWS/deleteQRequest" message="tns:deleteQ"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/deleteQResponse" message="tns:deleteQResponse"/>
</operation>
<operation name="retrieveQ">
<input wsam:Action="http://qst.wbd.com/QuestionWS/retrieveQRequest" message="tns:retrieveQ"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/retrieveQResponse" message="tns:retrieveQResponse"/>
</operation>
<operation name="getQuestionbyID">
<input wsam:Action="http://qst.wbd.com/QuestionWS/getQuestionbyIDRequest" message="tns:getQuestionbyID"/>
<output wsam:Action="http://qst.wbd.com/QuestionWS/getQuestionbyIDResponse" message="tns:getQuestionbyIDResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="updateQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getNama">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionbyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8080/StackExchangeWS/QuestionWS"/>
</port>
</service>
</definitions>