StackExchangeClient/web/WEB-INF/wsdl/localhost_8080/StackExchangeWS/QuestionHandler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.stackExchangeWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.stackExchangeWS/" name="QuestionHandler">
<types>
<xsd:schema>
<xsd:import namespace="http://services.stackExchangeWS/" schemaLocation="http://localhost:8080/StackExchangeWS/QuestionHandler?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllQuestions">
<part name="parameters" element="tns:getAllQuestions"/>
</message>
<message name="getAllQuestionsResponse">
<part name="parameters" element="tns:getAllQuestionsResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="countVotes">
<part name="parameters" element="tns:countVotes"/>
</message>
<message name="countVotesResponse">
<part name="parameters" element="tns:countVotesResponse"/>
</message>
<message name="votesUpQuestion">
<part name="parameters" element="tns:votesUpQuestion"/>
</message>
<message name="votesUpQuestionResponse">
<part name="parameters" element="tns:votesUpQuestionResponse"/>
</message>
<message name="askQuestion">
<part name="parameters" element="tns:askQuestion"/>
</message>
<message name="askQuestionResponse">
<part name="parameters" element="tns:askQuestionResponse"/>
</message>
<message name="editQuestion">
<part name="parameters" element="tns:editQuestion"/>
</message>
<message name="editQuestionResponse">
<part name="parameters" element="tns:editQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<message name="votesDownQuestion">
<part name="parameters" element="tns:votesDownQuestion"/>
</message>
<message name="votesDownQuestionResponse">
<part name="parameters" element="tns:votesDownQuestionResponse"/>
</message>
<portType name="QuestionHandler">
<operation name="getAllQuestions">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/getAllQuestions/Fault/SQLException"/>
</operation>
<operation name="countVotes">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/countVotesRequest" message="tns:countVotes"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/countVotesResponse" message="tns:countVotesResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/countVotes/Fault/SQLException"/>
</operation>
<operation name="votesUpQuestion">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/votesUpQuestionRequest" message="tns:votesUpQuestion"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/votesUpQuestionResponse" message="tns:votesUpQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/votesUpQuestion/Fault/SQLException"/>
</operation>
<operation name="askQuestion">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/askQuestionRequest" message="tns:askQuestion"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/askQuestionResponse" message="tns:askQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/askQuestion/Fault/SQLException"/>
</operation>
<operation name="editQuestion">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/editQuestionRequest" message="tns:editQuestion"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/editQuestionResponse" message="tns:editQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/editQuestion/Fault/SQLException"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/deleteQuestion/Fault/SQLException"/>
</operation>
<operation name="getQuestion">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/getQuestionResponse" message="tns:getQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/getQuestion/Fault/SQLException"/>
</operation>
<operation name="votesDownQuestion">
<input wsam:Action="http://services.stackExchangeWS/QuestionHandler/votesDownQuestionRequest" message="tns:votesDownQuestion"/>
<output wsam:Action="http://services.stackExchangeWS/QuestionHandler/votesDownQuestionResponse" message="tns:votesDownQuestionResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.stackExchangeWS/QuestionHandler/votesDownQuestion/Fault/SQLException"/>
</operation>
</portType>
<binding name="QuestionHandlerPortBinding" type="tns:QuestionHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="countVotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="votesUpQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="askQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="editQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="votesDownQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="QuestionHandler">
<port name="QuestionHandlerPort" binding="tns:QuestionHandlerPortBinding">
<soap:address location="http://localhost:8080/StackExchangeWS/QuestionHandler"/>
</port>
</service>
</definitions>