StackExchangeClient/web/WEB-INF/wsdl/localhost_8080/StackExchangeWS/QuestionsWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Questions/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Questions/">

<xs:element name="Question" type="tns:question"/>

<xs:element name="getQuestionById" type="tns:getQuestionById"/>

<xs:element name="getQuestionByIdResponse" type="tns:getQuestionByIdResponse"/>

<xs:complexType name="getQuestionById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionByIdResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="q_id" type="xs:int"/>
<xs:element name="q_topic" type="xs:string"/>
<xs:element name="q_content" type="xs:string"/>
<xs:element name="q_name" type="xs:string"/>
<xs:element name="q_datetime" type="xs:string"/>
<xs:element name="q_vote" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>