SimpleStackExchange_Client/web/WEB-INF/wsdl/localhost_8081/SimpleStackExchange_WebService/Answer_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="Answer_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8081/SimpleStackExchange_Webservice/Answer_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteAllVoteAnswer">
<part name="parameters" element="tns:deleteAllVoteAnswer"/>
</message>
<message name="deleteAllVoteAnswerResponse">
<part name="parameters" element="tns:deleteAllVoteAnswerResponse"/>
</message>
<message name="getCountAnswer">
<part name="parameters" element="tns:getCountAnswer"/>
</message>
<message name="getCountAnswerResponse">
<part name="parameters" element="tns:getCountAnswerResponse"/>
</message>
<message name="getVotesAnswer">
<part name="parameters" element="tns:getVotesAnswer"/>
</message>
<message name="getVotesAnswerResponse">
<part name="parameters" element="tns:getVotesAnswerResponse"/>
</message>
<message name="hasVotedAnswer">
<part name="parameters" element="tns:hasVotedAnswer"/>
</message>
<message name="hasVotedAnswerResponse">
<part name="parameters" element="tns:hasVotedAnswerResponse"/>
</message>
<message name="createAnswer">
<part name="parameters" element="tns:createAnswer"/>
</message>
<message name="createAnswerResponse">
<part name="parameters" element="tns:createAnswerResponse"/>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"/>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswerResponse">
<part name="parameters" element="tns:voteAnswerResponse"/>
</message>
<portType name="Answer_WS">
<operation name="deleteAllVoteAnswer">
<input wsam:Action="http://webservice/Answer_WS/deleteAllVoteAnswerRequest" message="tns:deleteAllVoteAnswer"/>
<output wsam:Action="http://webservice/Answer_WS/deleteAllVoteAnswerResponse" message="tns:deleteAllVoteAnswerResponse"/>
</operation>
<operation name="getCountAnswer">
<input wsam:Action="http://webservice/Answer_WS/getCountAnswerRequest" message="tns:getCountAnswer"/>
<output wsam:Action="http://webservice/Answer_WS/getCountAnswerResponse" message="tns:getCountAnswerResponse"/>
</operation>
<operation name="getVotesAnswer">
<input wsam:Action="http://webservice/Answer_WS/getVotesAnswerRequest" message="tns:getVotesAnswer"/>
<output wsam:Action="http://webservice/Answer_WS/getVotesAnswerResponse" message="tns:getVotesAnswerResponse"/>
</operation>
<operation name="hasVotedAnswer">
<input wsam:Action="http://webservice/Answer_WS/hasVotedAnswerRequest" message="tns:hasVotedAnswer"/>
<output wsam:Action="http://webservice/Answer_WS/hasVotedAnswerResponse" message="tns:hasVotedAnswerResponse"/>
</operation>
<operation name="createAnswer">
<input wsam:Action="http://webservice/Answer_WS/createAnswerRequest" message="tns:createAnswer"/>
<output wsam:Action="http://webservice/Answer_WS/createAnswerResponse" message="tns:createAnswerResponse"/>
</operation>
<operation name="getAnswers">
<input wsam:Action="http://webservice/Answer_WS/getAnswersRequest" message="tns:getAnswers"/>
<output wsam:Action="http://webservice/Answer_WS/getAnswersResponse" message="tns:getAnswersResponse"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://webservice/Answer_WS/voteAnswerRequest" message="tns:voteAnswer"/>
<output wsam:Action="http://webservice/Answer_WS/voteAnswerResponse" message="tns:voteAnswerResponse"/>
</operation>
</portType>
<binding name="Answer_WSPortBinding" type="tns:Answer_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAllVoteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVotesAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasVotedAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Answer_WS">
<port name="Answer_WSPort" binding="tns:Answer_WSPortBinding">
<soap:address location="http://localhost:8081/SimpleStackExchange_Webservice/Answer_WS"/>
</port>
</service>
</definitions>