SimpleStackExchange_Client/web/WEB-INF/wsdl/localhost_8081/SimpleStackExchange_WebService/SimpleStackExchange_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="SimpleStackExchange_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8081/SimpleStackExchange_WebService/SimpleStackExchange_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="createQuestion">
<part name="parameters" element="tns:createQuestion"/>
</message>
<message name="createQuestionResponse">
<part name="parameters" element="tns:createQuestionResponse"/>
</message>
<message name="deleteAllVoteAnswer">
<part name="parameters" element="tns:deleteAllVoteAnswer"/>
</message>
<message name="deleteAllVoteAnswerResponse">
<part name="parameters" element="tns:deleteAllVoteAnswerResponse"/>
</message>
<message name="deleteAllVoteQuestion">
<part name="parameters" element="tns:deleteAllVoteQuestion"/>
</message>
<message name="deleteAllVoteQuestionResponse">
<part name="parameters" element="tns:deleteAllVoteQuestionResponse"/>
</message>
<message name="getNameByUid">
<part name="parameters" element="tns:getNameByUid"/>
</message>
<message name="getNameByUidResponse">
<part name="parameters" element="tns:getNameByUidResponse"/>
</message>
<message name="checkEmailUser">
<part name="parameters" element="tns:checkEmailUser"/>
</message>
<message name="checkEmailUserResponse">
<part name="parameters" element="tns:checkEmailUserResponse"/>
</message>
<message name="hasVotedAnswer">
<part name="parameters" element="tns:hasVotedAnswer"/>
</message>
<message name="hasVotedAnswerResponse">
<part name="parameters" element="tns:hasVotedAnswerResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="voteAnswer">
<part name="parameters" element="tns:voteAnswer"/>
</message>
<message name="voteAnswerResponse">
<part name="parameters" element="tns:voteAnswerResponse"/>
</message>
<message name="getVotesQuestion">
<part name="parameters" element="tns:getVotesQuestion"/>
</message>
<message name="getVotesQuestionResponse">
<part name="parameters" element="tns:getVotesQuestionResponse"/>
</message>
<message name="getCountAnswer">
<part name="parameters" element="tns:getCountAnswer"/>
</message>
<message name="getCountAnswerResponse">
<part name="parameters" element="tns:getCountAnswerResponse"/>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<message name="getVotesAnswer">
<part name="parameters" element="tns:getVotesAnswer"/>
</message>
<message name="getVotesAnswerResponse">
<part name="parameters" element="tns:getVotesAnswerResponse"/>
</message>
<message name="hasVotedQuestion">
<part name="parameters" element="tns:hasVotedQuestion"/>
</message>
<message name="hasVotedQuestionResponse">
<part name="parameters" element="tns:hasVotedQuestionResponse"/>
</message>
<message name="createAnswer">
<part name="parameters" element="tns:createAnswer"/>
</message>
<message name="createAnswerResponse">
<part name="parameters" element="tns:createAnswerResponse"/>
</message>
<message name="searchQuestion">
<part name="parameters" element="tns:searchQuestion"/>
</message>
<message name="searchQuestionResponse">
<part name="parameters" element="tns:searchQuestionResponse"/>
</message>
<message name="listQuestion">
<part name="parameters" element="tns:listQuestion"/>
</message>
<message name="listQuestionResponse">
<part name="parameters" element="tns:listQuestionResponse"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"/>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"/>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"/>
</message>
<message name="voteQuestion">
<part name="parameters" element="tns:voteQuestion"/>
</message>
<message name="voteQuestionResponse">
<part name="parameters" element="tns:voteQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<portType name="SimpleStackExchange_WS">
<operation name="createQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/createQuestionRequest" message="tns:createQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/createQuestionResponse" message="tns:createQuestionResponse"/>
</operation>
<operation name="deleteAllVoteAnswer">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/deleteAllVoteAnswerRequest" message="tns:deleteAllVoteAnswer"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/deleteAllVoteAnswerResponse" message="tns:deleteAllVoteAnswerResponse"/>
</operation>
<operation name="deleteAllVoteQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/deleteAllVoteQuestionRequest" message="tns:deleteAllVoteQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/deleteAllVoteQuestionResponse" message="tns:deleteAllVoteQuestionResponse"/>
</operation>
<operation name="getNameByUid">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getNameByUidRequest" message="tns:getNameByUid"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getNameByUidResponse" message="tns:getNameByUidResponse"/>
</operation>
<operation name="checkEmailUser">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/checkEmailUserRequest" message="tns:checkEmailUser"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/checkEmailUserResponse" message="tns:checkEmailUserResponse"/>
</operation>
<operation name="hasVotedAnswer">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/hasVotedAnswerRequest" message="tns:hasVotedAnswer"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/hasVotedAnswerResponse" message="tns:hasVotedAnswerResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="voteAnswer">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/voteAnswerRequest" message="tns:voteAnswer"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/voteAnswerResponse" message="tns:voteAnswerResponse"/>
</operation>
<operation name="getVotesQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getVotesQuestionRequest" message="tns:getVotesQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getVotesQuestionResponse" message="tns:getVotesQuestionResponse"/>
</operation>
<operation name="getCountAnswer">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getCountAnswerRequest" message="tns:getCountAnswer"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getCountAnswerResponse" message="tns:getCountAnswerResponse"/>
</operation>
<operation name="getQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getQuestionResponse" message="tns:getQuestionResponse"/>
</operation>
<operation name="getVotesAnswer">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getVotesAnswerRequest" message="tns:getVotesAnswer"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getVotesAnswerResponse" message="tns:getVotesAnswerResponse"/>
</operation>
<operation name="hasVotedQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/hasVotedQuestionRequest" message="tns:hasVotedQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/hasVotedQuestionResponse" message="tns:hasVotedQuestionResponse"/>
</operation>
<operation name="createAnswer">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/createAnswerRequest" message="tns:createAnswer"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/createAnswerResponse" message="tns:createAnswerResponse"/>
</operation>
<operation name="searchQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/searchQuestionRequest" message="tns:searchQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/searchQuestionResponse" message="tns:searchQuestionResponse"/>
</operation>
<operation name="listQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/listQuestionRequest" message="tns:listQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/listQuestionResponse" message="tns:listQuestionResponse"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/updateQuestionRequest" message="tns:updateQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/updateQuestionResponse" message="tns:updateQuestionResponse"/>
</operation>
<operation name="getAnswers">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getAnswersRequest" message="tns:getAnswers"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getAnswersResponse" message="tns:getAnswersResponse"/>
</operation>
<operation name="voteQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/voteQuestionRequest" message="tns:voteQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/voteQuestionResponse" message="tns:voteQuestionResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://webservice/SimpleStackExchange_WS/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://webservice/SimpleStackExchange_WS/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
</portType>
<binding name="SimpleStackExchange_WSPortBinding" type="tns:SimpleStackExchange_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllVoteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllVoteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNameByUid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkEmailUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasVotedAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVotesQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVotesAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasVotedQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SimpleStackExchange_WS">
<port name="SimpleStackExchange_WSPort" binding="tns:SimpleStackExchange_WSPortBinding">
<soap:address location="http://localhost:8081/SimpleStackExchange_WebService/SimpleStackExchange_WS"/>
</port>
</service>
</definitions>