SimpleStackExchange_Client/web/WEB-INF/wsdl/localhost_8081/SimpleStackExchange_WebService/User_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="User_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8081/SimpleStackExchange_Webservice/User_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="getNameByUid">
<part name="parameters" element="tns:getNameByUid"/>
</message>
<message name="getNameByUidResponse">
<part name="parameters" element="tns:getNameByUidResponse"/>
</message>
<message name="checkEmailUser">
<part name="parameters" element="tns:checkEmailUser"/>
</message>
<message name="checkEmailUserResponse">
<part name="parameters" element="tns:checkEmailUserResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<portType name="User_WS">
<operation name="createUser">
<input wsam:Action="http://webservice/User_WS/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://webservice/User_WS/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="getNameByUid">
<input wsam:Action="http://webservice/User_WS/getNameByUidRequest" message="tns:getNameByUid"/>
<output wsam:Action="http://webservice/User_WS/getNameByUidResponse" message="tns:getNameByUidResponse"/>
</operation>
<operation name="checkEmailUser">
<input wsam:Action="http://webservice/User_WS/checkEmailUserRequest" message="tns:checkEmailUser"/>
<output wsam:Action="http://webservice/User_WS/checkEmailUserResponse" message="tns:checkEmailUserResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://webservice/User_WS/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://webservice/User_WS/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
</portType>
<binding name="User_WSPortBinding" type="tns:User_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNameByUid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkEmailUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="User_WS">
<port name="User_WSPort" binding="tns:User_WSPortBinding">
<soap:address location="http://localhost:8081/SimpleStackExchange_Webservice/User_WS"/>
</port>
</service>
</definitions>