FrontEnd/web/WEB-INF/wsdl/localhost_8002/WS/AnswerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AnswerModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AnswerModel/" name="AnswerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AnswerModel/" schemaLocation="http://localhost:8002/WS/AnswerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertAnswer">
<part name="parameters" element="tns:InsertAnswer"/>
</message>
<message name="InsertAnswerResponse">
<part name="parameters" element="tns:InsertAnswerResponse"/>
</message>
<message name="upAnswer">
<part name="parameters" element="tns:upAnswer"/>
</message>
<message name="upAnswerResponse">
<part name="parameters" element="tns:upAnswerResponse"/>
</message>
<message name="getAnswerbyQID">
<part name="parameters" element="tns:getAnswerbyQID"/>
</message>
<message name="getAnswerbyQIDResponse">
<part name="parameters" element="tns:getAnswerbyQIDResponse"/>
</message>
<message name="downAnswer">
<part name="parameters" element="tns:downAnswer"/>
</message>
<message name="downAnswerResponse">
<part name="parameters" element="tns:downAnswerResponse"/>
</message>
<portType name="AnswerWS">
<operation name="InsertAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/InsertAnswerRequest" message="tns:InsertAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/InsertAnswerResponse" message="tns:InsertAnswerResponse"/>
</operation>
<operation name="upAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/upAnswerRequest" message="tns:upAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/upAnswerResponse" message="tns:upAnswerResponse"/>
</operation>
<operation name="getAnswerbyQID">
<input wsam:Action="http://AnswerModel/AnswerWS/getAnswerbyQIDRequest" message="tns:getAnswerbyQID"/>
<output wsam:Action="http://AnswerModel/AnswerWS/getAnswerbyQIDResponse" message="tns:getAnswerbyQIDResponse"/>
</operation>
<operation name="downAnswer">
<input wsam:Action="http://AnswerModel/AnswerWS/downAnswerRequest" message="tns:downAnswer"/>
<output wsam:Action="http://AnswerModel/AnswerWS/downAnswerResponse" message="tns:downAnswerResponse"/>
</operation>
</portType>
<binding name="AnswerWSPortBinding" type="tns:AnswerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InsertAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerbyQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnswerWS">
<port name="AnswerWSPort" binding="tns:AnswerWSPortBinding">
<soap:address location="http://localhost:8002/WS/AnswerWS"/>
</port>
</service>
</definitions>