FrontEnd/web/WEB-INF/wsdl/localhost_8002/WS/QuestionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://QuestionModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://QuestionModel/">

<xs:element name="InsertQuestion" type="tns:InsertQuestion"/>

<xs:element name="InsertQuestionResponse" type="tns:InsertQuestionResponse"/>

<xs:element name="Question" type="tns:question"/>

<xs:element name="deleteQuestion" type="tns:deleteQuestion"/>

<xs:element name="deleteQuestionResponse" type="tns:deleteQuestionResponse"/>

<xs:element name="getEmail" type="tns:getEmail"/>

<xs:element name="getEmailResponse" type="tns:getEmailResponse"/>

<xs:element name="getExpiredDate" type="tns:getExpiredDate"/>

<xs:element name="getExpiredDateResponse" type="tns:getExpiredDateResponse"/>

<xs:element name="getName" type="tns:getName"/>

<xs:element name="getNameResponse" type="tns:getNameResponse"/>

<xs:element name="getQuestionSearch" type="tns:getQuestionSearch"/>

<xs:element name="getQuestionSearchResponse" type="tns:getQuestionSearchResponse"/>

<xs:element name="getQuestionbyID" type="tns:getQuestionbyID"/>

<xs:element name="getQuestionbyIDResponse" type="tns:getQuestionbyIDResponse"/>

<xs:element name="getallQuestions" type="tns:getallQuestions"/>

<xs:element name="getallQuestionsResponse" type="tns:getallQuestionsResponse"/>

<xs:element name="updateQuestion" type="tns:updateQuestion"/>

<xs:element name="updateQuestionResponse" type="tns:updateQuestionResponse"/>

<xs:complexType name="updateQuestion">
<xs:sequence>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getName">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestionResponse">
<xs:sequence>
<xs:element name="Question" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExpiredDate">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExpiredDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getallQuestions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getallQuestionsResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="QuestionID" type="xs:int"/>
<xs:element name="Votes" type="xs:int"/>
<xs:element name="Answers" type="xs:int"/>
<xs:element name="Topic" type="xs:string"/>
<xs:element name="Question" type="xs:string"/>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Email" type="xs:string"/>
<xs:element name="Datetime" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionbyID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionbyIDResponse">
<xs:sequence>
<xs:element name="Question" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertQuestion">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertQuestionResponse">
<xs:sequence>
<xs:element name="Question" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmail">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionSearch">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionSearchResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>