FrontEnd/web/WEB-INF/wsdl/localhost_8002/WS/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://QuestionModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://QuestionModel/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://QuestionModel/" schemaLocation="http://localhost:8002/WS/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="getQuestionSearch">
<part name="parameters" element="tns:getQuestionSearch"/>
</message>
<message name="getQuestionSearchResponse">
<part name="parameters" element="tns:getQuestionSearchResponse"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"/>
</message>
<message name="downQuestion">
<part name="parameters" element="tns:downQuestion"/>
</message>
<message name="downQuestionResponse">
<part name="parameters" element="tns:downQuestionResponse"/>
</message>
<message name="getExpiredDate">
<part name="parameters" element="tns:getExpiredDate"/>
</message>
<message name="getExpiredDateResponse">
<part name="parameters" element="tns:getExpiredDateResponse"/>
</message>
<message name="getallQuestions">
<part name="parameters" element="tns:getallQuestions"/>
</message>
<message name="getallQuestionsResponse">
<part name="parameters" element="tns:getallQuestionsResponse"/>
</message>
<message name="getQuestionbyID">
<part name="parameters" element="tns:getQuestionbyID"/>
</message>
<message name="getQuestionbyIDResponse">
<part name="parameters" element="tns:getQuestionbyIDResponse"/>
</message>
<message name="InsertQuestion">
<part name="parameters" element="tns:InsertQuestion"/>
</message>
<message name="InsertQuestionResponse">
<part name="parameters" element="tns:InsertQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="getEmail">
<part name="parameters" element="tns:getEmail"/>
</message>
<message name="getEmailResponse">
<part name="parameters" element="tns:getEmailResponse"/>
</message>
<message name="upQuestion">
<part name="parameters" element="tns:upQuestion"/>
</message>
<message name="upQuestionResponse">
<part name="parameters" element="tns:upQuestionResponse"/>
</message>
<portType name="QuestionWS">
<operation name="getName">
<input wsam:Action="http://QuestionModel/QuestionWS/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="getQuestionSearch">
<input wsam:Action="http://QuestionModel/QuestionWS/getQuestionSearchRequest" message="tns:getQuestionSearch"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getQuestionSearchResponse" message="tns:getQuestionSearchResponse"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/updateQuestionRequest" message="tns:updateQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/updateQuestionResponse" message="tns:updateQuestionResponse"/>
</operation>
<operation name="downQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/downQuestionRequest" message="tns:downQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/downQuestionResponse" message="tns:downQuestionResponse"/>
</operation>
<operation name="getExpiredDate">
<input wsam:Action="http://QuestionModel/QuestionWS/getExpiredDateRequest" message="tns:getExpiredDate"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getExpiredDateResponse" message="tns:getExpiredDateResponse"/>
</operation>
<operation name="getallQuestions">
<input wsam:Action="http://QuestionModel/QuestionWS/getallQuestionsRequest" message="tns:getallQuestions"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getallQuestionsResponse" message="tns:getallQuestionsResponse"/>
</operation>
<operation name="getQuestionbyID">
<input wsam:Action="http://QuestionModel/QuestionWS/getQuestionbyIDRequest" message="tns:getQuestionbyID"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getQuestionbyIDResponse" message="tns:getQuestionbyIDResponse"/>
</operation>
<operation name="InsertQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/InsertQuestionRequest" message="tns:InsertQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/InsertQuestionResponse" message="tns:InsertQuestionResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="getEmail">
<input wsam:Action="http://QuestionModel/QuestionWS/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="upQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/upQuestionRequest" message="tns:upQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/upQuestionResponse" message="tns:upQuestionResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionSearch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExpiredDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getallQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionbyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:8002/WS/QuestionWS"/>
</port>
</service>
</definitions>