StackExchange Client/src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/localhost_8081/StackExchange.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="StackExchange">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8081/StackExchange?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getQuestionVoteState">
<part name="parameters" element="tns:getQuestionVoteState"/>
</message>
<message name="getQuestionVoteStateResponse">
<part name="parameters" element="tns:getQuestionVoteStateResponse"/>
</message>
<message name="getAnswerVoteState">
<part name="parameters" element="tns:getAnswerVoteState"/>
</message>
<message name="getAnswerVoteStateResponse">
<part name="parameters" element="tns:getAnswerVoteStateResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"/>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"/>
</message>
<message name="getQuestions">
<part name="parameters" element="tns:getQuestions"/>
</message>
<message name="getQuestionsResponse">
<part name="parameters" element="tns:getQuestionsResponse"/>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"/>
</message>
<message name="addQuestionResponse">
<part name="parameters" element="tns:addQuestionResponse"/>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"/>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"/>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"/>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"/>
</message>
<message name="voteQuestionUp">
<part name="parameters" element="tns:voteQuestionUp"/>
</message>
<message name="voteQuestionUpResponse">
<part name="parameters" element="tns:voteQuestionUpResponse"/>
</message>
<message name="voteQuestionDown">
<part name="parameters" element="tns:voteQuestionDown"/>
</message>
<message name="voteQuestionDownResponse">
<part name="parameters" element="tns:voteQuestionDownResponse"/>
</message>
<message name="getAnswer">
<part name="parameters" element="tns:getAnswer"/>
</message>
<message name="getAnswerResponse">
<part name="parameters" element="tns:getAnswerResponse"/>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"/>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"/>
</message>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"/>
</message>
<message name="addAnswerResponse">
<part name="parameters" element="tns:addAnswerResponse"/>
</message>
<message name="voteAnswerUp">
<part name="parameters" element="tns:voteAnswerUp"/>
</message>
<message name="voteAnswerUpResponse">
<part name="parameters" element="tns:voteAnswerUpResponse"/>
</message>
<message name="voteAnswerDown">
<part name="parameters" element="tns:voteAnswerDown"/>
</message>
<message name="voteAnswerDownResponse">
<part name="parameters" element="tns:voteAnswerDownResponse"/>
</message>
<portType name="StackExchange">
<operation name="search">
<input wsam:Action="http://service/StackExchange/searchRequest" message="tns:search"/>
<output wsam:Action="http://service/StackExchange/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://service/StackExchange/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://service/StackExchange/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getQuestionVoteState">
<input wsam:Action="http://service/StackExchange/getQuestionVoteStateRequest" message="tns:getQuestionVoteState"/>
<output wsam:Action="http://service/StackExchange/getQuestionVoteStateResponse" message="tns:getQuestionVoteStateResponse"/>
</operation>
<operation name="getAnswerVoteState">
<input wsam:Action="http://service/StackExchange/getAnswerVoteStateRequest" message="tns:getAnswerVoteState"/>
<output wsam:Action="http://service/StackExchange/getAnswerVoteStateResponse" message="tns:getAnswerVoteStateResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service/StackExchange/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service/StackExchange/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="getQuestion">
<input wsam:Action="http://service/StackExchange/getQuestionRequest" message="tns:getQuestion"/>
<output wsam:Action="http://service/StackExchange/getQuestionResponse" message="tns:getQuestionResponse"/>
</operation>
<operation name="getQuestions">
<input wsam:Action="http://service/StackExchange/getQuestionsRequest" message="tns:getQuestions"/>
<output wsam:Action="http://service/StackExchange/getQuestionsResponse" message="tns:getQuestionsResponse"/>
</operation>
<operation name="addQuestion">
<input wsam:Action="http://service/StackExchange/addQuestionRequest" message="tns:addQuestion"/>
<output wsam:Action="http://service/StackExchange/addQuestionResponse" message="tns:addQuestionResponse"/>
</operation>
<operation name="deleteQuestion">
<input wsam:Action="http://service/StackExchange/deleteQuestionRequest" message="tns:deleteQuestion"/>
<output wsam:Action="http://service/StackExchange/deleteQuestionResponse" message="tns:deleteQuestionResponse"/>
</operation>
<operation name="updateQuestion">
<input wsam:Action="http://service/StackExchange/updateQuestionRequest" message="tns:updateQuestion"/>
<output wsam:Action="http://service/StackExchange/updateQuestionResponse" message="tns:updateQuestionResponse"/>
</operation>
<operation name="voteQuestionUp">
<input wsam:Action="http://service/StackExchange/voteQuestionUpRequest" message="tns:voteQuestionUp"/>
<output wsam:Action="http://service/StackExchange/voteQuestionUpResponse" message="tns:voteQuestionUpResponse"/>
</operation>
<operation name="voteQuestionDown">
<input wsam:Action="http://service/StackExchange/voteQuestionDownRequest" message="tns:voteQuestionDown"/>
<output wsam:Action="http://service/StackExchange/voteQuestionDownResponse" message="tns:voteQuestionDownResponse"/>
</operation>
<operation name="getAnswer">
<input wsam:Action="http://service/StackExchange/getAnswerRequest" message="tns:getAnswer"/>
<output wsam:Action="http://service/StackExchange/getAnswerResponse" message="tns:getAnswerResponse"/>
</operation>
<operation name="getAnswers">
<input wsam:Action="http://service/StackExchange/getAnswersRequest" message="tns:getAnswers"/>
<output wsam:Action="http://service/StackExchange/getAnswersResponse" message="tns:getAnswersResponse"/>
</operation>
<operation name="addAnswer">
<input wsam:Action="http://service/StackExchange/addAnswerRequest" message="tns:addAnswer"/>
<output wsam:Action="http://service/StackExchange/addAnswerResponse" message="tns:addAnswerResponse"/>
</operation>
<operation name="voteAnswerUp">
<input wsam:Action="http://service/StackExchange/voteAnswerUpRequest" message="tns:voteAnswerUp"/>
<output wsam:Action="http://service/StackExchange/voteAnswerUpResponse" message="tns:voteAnswerUpResponse"/>
</operation>
<operation name="voteAnswerDown">
<input wsam:Action="http://service/StackExchange/voteAnswerDownRequest" message="tns:voteAnswerDown"/>
<output wsam:Action="http://service/StackExchange/voteAnswerDownResponse" message="tns:voteAnswerDownResponse"/>
</operation>
</portType>
<binding name="StackExchangePortBinding" type="tns:StackExchange">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionVoteState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerVoteState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteQuestionUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteQuestionDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswerUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteAnswerDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StackExchange">
<port name="StackExchangePort" binding="tns:StackExchangePortBinding">
<soap:address location="http://localhost:8081/StackExchange"/>
</port>
</service>
</definitions>