StackExchangeClient/src/conf/xml-resources/web-service-references/QuestionWS/wsdl/localhost_15534/StackExchangeService/QuestionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://QuestionModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://QuestionModel/" name="QuestionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://QuestionModel/" schemaLocation="http://localhost:15534/StackExchangeService/QuestionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createQuestion">
<part name="parameters" element="tns:createQuestion"/>
</message>
<message name="createQuestionResponse">
<part name="parameters" element="tns:createQuestionResponse"/>
</message>
<message name="isValidToken">
<part name="parameters" element="tns:isValidToken"/>
</message>
<message name="isValidTokenResponse">
<part name="parameters" element="tns:isValidTokenResponse"/>
</message>
<message name="getQuestions">
<part name="parameters" element="tns:getQuestions"/>
</message>
<message name="getQuestionsResponse">
<part name="parameters" element="tns:getQuestionsResponse"/>
</message>
<message name="getVoteById">
<part name="parameters" element="tns:getVoteById"/>
</message>
<message name="getVoteByIdResponse">
<part name="parameters" element="tns:getVoteByIdResponse"/>
</message>
<message name="editQuestion">
<part name="parameters" element="tns:editQuestion"/>
</message>
<message name="editQuestionResponse">
<part name="parameters" element="tns:editQuestionResponse"/>
</message>
<message name="isVoteUp">
<part name="parameters" element="tns:isVoteUp"/>
</message>
<message name="isVoteUpResponse">
<part name="parameters" element="tns:isVoteUpResponse"/>
</message>
<message name="getAnswerById">
<part name="parameters" element="tns:getAnswerById"/>
</message>
<message name="getAnswerByIdResponse">
<part name="parameters" element="tns:getAnswerByIdResponse"/>
</message>
<message name="validateUsername">
<part name="parameters" element="tns:validateUsername"/>
</message>
<message name="validateUsernameResponse">
<part name="parameters" element="tns:validateUsernameResponse"/>
</message>
<message name="getQuestionByQID">
<part name="parameters" element="tns:getQuestionByQID"/>
</message>
<message name="getQuestionByQIDResponse">
<part name="parameters" element="tns:getQuestionByQIDResponse"/>
</message>
<message name="voteUp">
<part name="parameters" element="tns:voteUp"/>
</message>
<message name="voteUpResponse">
<part name="parameters" element="tns:voteUpResponse"/>
</message>
<message name="searchQuestion">
<part name="parameters" element="tns:searchQuestion"/>
</message>
<message name="searchQuestionResponse">
<part name="parameters" element="tns:searchQuestionResponse"/>
</message>
<message name="getUsernameByQid">
<part name="parameters" element="tns:getUsernameByQid"/>
</message>
<message name="getUsernameByQidResponse">
<part name="parameters" element="tns:getUsernameByQidResponse"/>
</message>
<message name="isVoteDown">
<part name="parameters" element="tns:isVoteDown"/>
</message>
<message name="isVoteDownResponse">
<part name="parameters" element="tns:isVoteDownResponse"/>
</message>
<message name="isVoted">
<part name="parameters" element="tns:isVoted"/>
</message>
<message name="isVotedResponse">
<part name="parameters" element="tns:isVotedResponse"/>
</message>
<message name="voteDown">
<part name="parameters" element="tns:voteDown"/>
</message>
<message name="voteDownResponse">
<part name="parameters" element="tns:voteDownResponse"/>
</message>
<message name="deleteQuestionById">
<part name="parameters" element="tns:deleteQuestionById"/>
</message>
<message name="deleteQuestionByIdResponse">
<part name="parameters" element="tns:deleteQuestionByIdResponse"/>
</message>
<portType name="QuestionWS">
<operation name="createQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/createQuestionRequest" message="tns:createQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/createQuestionResponse" message="tns:createQuestionResponse"/>
</operation>
<operation name="isValidToken">
<input wsam:Action="http://QuestionModel/QuestionWS/isValidTokenRequest" message="tns:isValidToken"/>
<output wsam:Action="http://QuestionModel/QuestionWS/isValidTokenResponse" message="tns:isValidTokenResponse"/>
</operation>
<operation name="getQuestions">
<input wsam:Action="http://QuestionModel/QuestionWS/getQuestionsRequest" message="tns:getQuestions"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getQuestionsResponse" message="tns:getQuestionsResponse"/>
</operation>
<operation name="getVoteById">
<input wsam:Action="http://QuestionModel/QuestionWS/getVoteByIdRequest" message="tns:getVoteById"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getVoteByIdResponse" message="tns:getVoteByIdResponse"/>
</operation>
<operation name="editQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/editQuestionRequest" message="tns:editQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/editQuestionResponse" message="tns:editQuestionResponse"/>
</operation>
<operation name="isVoteUp">
<input wsam:Action="http://QuestionModel/QuestionWS/isVoteUpRequest" message="tns:isVoteUp"/>
<output wsam:Action="http://QuestionModel/QuestionWS/isVoteUpResponse" message="tns:isVoteUpResponse"/>
</operation>
<operation name="getAnswerById">
<input wsam:Action="http://QuestionModel/QuestionWS/getAnswerByIdRequest" message="tns:getAnswerById"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getAnswerByIdResponse" message="tns:getAnswerByIdResponse"/>
</operation>
<operation name="validateUsername">
<input wsam:Action="http://QuestionModel/QuestionWS/validateUsernameRequest" message="tns:validateUsername"/>
<output wsam:Action="http://QuestionModel/QuestionWS/validateUsernameResponse" message="tns:validateUsernameResponse"/>
</operation>
<operation name="getQuestionByQID">
<input wsam:Action="http://QuestionModel/QuestionWS/getQuestionByQIDRequest" message="tns:getQuestionByQID"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getQuestionByQIDResponse" message="tns:getQuestionByQIDResponse"/>
</operation>
<operation name="voteUp">
<input wsam:Action="http://QuestionModel/QuestionWS/voteUpRequest" message="tns:voteUp"/>
<output wsam:Action="http://QuestionModel/QuestionWS/voteUpResponse" message="tns:voteUpResponse"/>
</operation>
<operation name="searchQuestion">
<input wsam:Action="http://QuestionModel/QuestionWS/searchQuestionRequest" message="tns:searchQuestion"/>
<output wsam:Action="http://QuestionModel/QuestionWS/searchQuestionResponse" message="tns:searchQuestionResponse"/>
</operation>
<operation name="getUsernameByQid">
<input wsam:Action="http://QuestionModel/QuestionWS/getUsernameByQidRequest" message="tns:getUsernameByQid"/>
<output wsam:Action="http://QuestionModel/QuestionWS/getUsernameByQidResponse" message="tns:getUsernameByQidResponse"/>
</operation>
<operation name="isVoteDown">
<input wsam:Action="http://QuestionModel/QuestionWS/isVoteDownRequest" message="tns:isVoteDown"/>
<output wsam:Action="http://QuestionModel/QuestionWS/isVoteDownResponse" message="tns:isVoteDownResponse"/>
</operation>
<operation name="isVoted">
<input wsam:Action="http://QuestionModel/QuestionWS/isVotedRequest" message="tns:isVoted"/>
<output wsam:Action="http://QuestionModel/QuestionWS/isVotedResponse" message="tns:isVotedResponse"/>
</operation>
<operation name="voteDown">
<input wsam:Action="http://QuestionModel/QuestionWS/voteDownRequest" message="tns:voteDown"/>
<output wsam:Action="http://QuestionModel/QuestionWS/voteDownResponse" message="tns:voteDownResponse"/>
</operation>
<operation name="deleteQuestionById">
<input wsam:Action="http://QuestionModel/QuestionWS/deleteQuestionByIdRequest" message="tns:deleteQuestionById"/>
<output wsam:Action="http://QuestionModel/QuestionWS/deleteQuestionByIdResponse" message="tns:deleteQuestionByIdResponse"/>
</operation>
</portType>
<binding name="QuestionWSPortBinding" type="tns:QuestionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isValidToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVoteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isVoteUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnswerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuestionByQID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsernameByQid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isVoteDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isVoted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voteDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuestionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWS">
<port name="QuestionWSPort" binding="tns:QuestionWSPortBinding">
<soap:address location="http://localhost:15534/StackExchangeService/QuestionWS"/>
</port>
</service>
</definitions>